<?xml version="1.0" encoding="UTF-8"?>

<plugin
   name="Refactoring Tests Pluging"
   id="org.eclipse.jdt.ui.tests.refactoring"
   version="2.1.3"
   provider-name = "Eclipse.org"
   class="org.eclipse.jdt.ui.tests.refactoring.infra.RefactoringTestPlugin">
   
   <requires>
	  <import plugin="org.junit"/>   
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
	  <import plugin="org.eclipse.jdt.ui.tests"/>
	  <import plugin="org.eclipse.test.performance"/>
   </requires>

  <runtime>
    <library name="refactoringtests.jar" >
       <export name = "*"/>
    </library> 
  </runtime>

</plugin>
