<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.jdt.ui.tests.refactoring"
   name="%Plugin.name"
   version="3.0.0"
   provider-name="%Plugin.providerName"
   class="org.eclipse.jdt.ui.tests.refactoring.infra.RefactoringTestPlugin">

   <runtime>
      <library name="refactoringtests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.ui.tests"/>
   </requires>


   <extension
         point="org.eclipse.jdt.ui.typeExtenders">
      <typeExtender
            methods="simple, overridden, ordering, chainOrdering"
            type="org.eclipse.jdt.ui.tests.xml.A"
            class="org.eclipse.jdt.ui.tests.xml.A_TypeExtender"
            id="org.eclipse.jdt.ui.tests.A_TypeExtender">
      </typeExtender>
      <typeExtender
            methods="chaining, chainOrdering"
            type="org.eclipse.jdt.ui.tests.xml.A"
            class="org.eclipse.jdt.ui.tests.xml.A_TypeExtender2"
            id="org.eclipse.jdt.ui.tests.A_TypeExtender2">
      </typeExtender>
      <typeExtender
            methods="overridden"
            type="org.eclipse.jdt.ui.tests.xml.B"
            class="org.eclipse.jdt.ui.tests.xml.B_TypeExtender"
            id="org.eclipse.jdt.ui.tests.B_TypeExtender">
      </typeExtender>
      <typeExtender
            methods="ordering"
            type="org.eclipse.jdt.ui.tests.xml.I"
            class="org.eclipse.jdt.ui.tests.xml.I_TypeExtender"
            id="org.eclipse.jdt.ui.tests.I_TypeExtender">
      </typeExtender>
   </extension>

</plugin>
