<?xml version="1.0" encoding="UTF-8"?>

<plugin
   name="%Plugin.name"
   id="org.eclipse.jdt.ui.tests.refactoring"
   version="3.0.0"
   provider-name = "%Plugin.providerName"
   class="org.eclipse.jdt.ui.tests.refactoring.infra.RefactoringTestPlugin">
   
   <requires>
	  <import plugin="org.junit"/>   
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
	  <import plugin="org.eclipse.jdt.ui.tests"/>
   </requires>

  <runtime>
    <library name="refactoringtests.jar" >
       <export name = "*"/>
    </library> 
  </runtime>

<extension point="org.eclipse.jdt.ui.typeExtenders">     
  <typeExtender
     id="org.eclipse.jdt.ui.tests.A_TypeExtender"
     type="org.eclipse.jdt.ui.tests.xml.A"
     methods="simple, overridden, ordering, chainOrdering"
     class="org.eclipse.jdt.ui.tests.xml.A_TypeExtender"/>

  <typeExtender
     id="org.eclipse.jdt.ui.tests.A_TypeExtender2"
     type="org.eclipse.jdt.ui.tests.xml.A"
     methods="chaining, chainOrdering"
     class="org.eclipse.jdt.ui.tests.xml.A_TypeExtender2"/>

  <typeExtender
     id="org.eclipse.jdt.ui.tests.B_TypeExtender"
     type="org.eclipse.jdt.ui.tests.xml.B"
     methods="overridden"
     class="org.eclipse.jdt.ui.tests.xml.B_TypeExtender"/>

  <typeExtender
     id="org.eclipse.jdt.ui.tests.I_TypeExtender"
     type="org.eclipse.jdt.ui.tests.xml.I"
     methods="ordering"
     class="org.eclipse.jdt.ui.tests.xml.I_TypeExtender"/>
</extension>     
	

</plugin>
