<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="org.eclipse.jdt.ui.examples.javafamily"
	name="%pluginName"
	version="3.0.0"
	provider-name="%providerName"
	class="org.eclipse.jsp.JspUIPlugin">

	<runtime>
		<library name="javafamily.jar"/>
		<!--packages prefixes="org.eclipse.jsp,org.eclipse.core.indexsearch"/-->
	</runtime>
      
	<requires>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.jface"/>
		<import plugin="org.eclipse.ui"/>
		<import plugin="org.eclipse.search"/>
		<import plugin="org.eclipse.jdt.core"/>
		<import plugin="org.eclipse.jdt.ui"/>
		<import plugin="org.eclipse.debug.core"/>
		<import plugin="org.eclipse.debug.ui"/>
		<import plugin="org.eclipse.jdt.debug"/>
		<import plugin="org.eclipse.jdt.launching"/>
		<import plugin="org.eclipse.jdt.debug.ui"/>
	</requires>

	<extension point="org.eclipse.jdt.ui.renameParticipants">
	  <renameParticipant
	  	id="org.eclipse.jsp.renameParticipant.IType"
	  	class="org.eclipse.jsp.RenameTypeParticipant">
	    <scopeState>
	      <nature value="org.eclipse.jdt.core.javanature"/>
	    </scopeState>
	  	<objectState>
	  	  <test property="instanceof" value="org.eclipse.jdt.core.IType"/>
	  	</objectState>
	  </renameParticipant>
	</extension>
	
	<!-- =========================================================================== -->
	<!-- Java Search Page                                                            -->
	<!-- =========================================================================== -->
	<extension point="org.eclipse.search.searchPages">
	   <page id="org.eclipse.jdt.ui.JavaSearchPage2"
	         icon="icons/full/obj16/jsearch_obj.gif"
	         label="%JavaSearchPage.label"
			 sizeHint="460,160"
			 extensions="java:90, jav:90"
			 showScopeSection="true"
			 class="org.eclipse.jdt.internal.ui.search2.JavaSearchPage2">
	   </page>
	</extension>
	
	<extension point="org.eclipse.search.searchResultSorters">
		<sorter
			id="org.eclipse.search.internal.ui.ElementNameSorter"
			pageId="org.eclipse.jdt.ui.JavaSearchPage2"
			label="%ElementNameSorter.label"
			tooltip="%ElementNameSorter.tooltip"
			icon="icons/full/clcl16/search_sortmatch.gif"
			class="org.eclipse.jdt.internal.ui.search.ElementNameSorter">
		</sorter>
		<sorter
			id="org.eclipse.search.internal.ui.ParentNameSorter"
			pageId="org.eclipse.jdt.ui.JavaSearchPage2"
			label="%ParentNameSorter.label"
			tooltip="%ParentNameSorter.tooltip"
			icon="icons/full/clcl16/search_sortmatch.gif"
			class="org.eclipse.jdt.internal.ui.search.ParentNameSorter">
		</sorter>
		<sorter
			id="org.eclipse.search.internal.ui.PathNameSorter"
			pageId="org.eclipse.jdt.ui.JavaSearchPage2"
			label="%PathNameSorter.label"
			tooltip="%PathNameSorter.tooltip"
			icon="icons/full/clcl16/search_sortmatch.gif"
			class="org.eclipse.jdt.internal.ui.search.PathNameSorter">
		</sorter>
			<sorter
			id="org.eclipse.search.internal.ui.MatchPositionSorter"
			pageId="org.eclipse.jdt.ui.JavaFileSearch2"
			label="%PositionSorter.label"
			tooltip="%PositionSorter.tooltip"
			icon="icons/full/clcl16/search_sortmatch.gif"
			class="org.eclipse.jdt.internal.ui.search.MatchPositionSorter">
		</sorter>
		
	</extension>

	<!-- =========================================================================== -->
	<!-- JSP Editor                                                                  -->
	<!-- =========================================================================== -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.jdt.ui.examples.JSPEditor"
            name="%jspEditorName"
            extensions="jsp"
            icon="icons/full/obj16/jsp_obj.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.jdt.internal.ui.examples.jspeditor.JspEditor"
            default="true">
      </editor>
   </extension>
   
	<!-- =========================================================================== -->
	<!-- Tomcat Launcnhing                                                              -->
	<!-- =========================================================================== -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="%tomcatLaunchConfigurationTypeName"
            delegate="org.eclipse.jsp.launching.TomcatLaunchDelegate"
            modes="run, debug"
            id="org.eclipse.jsp.TomcatConfigurationType">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.jsp.TomcatConfigurationType"
            class="org.eclipse.jsp.launching.TomcatTabGroup"
            id="org.eclipse.jsp.TomcatTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/obj16/tomcat_obj.gif"
            configTypeID="org.eclipse.jsp.TomcatConfigurationType"
            id="org.eclipse.jsp.image.Tomcat">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.valueVariables">
      <variable
            name="catalina_home"
            description="%catalinaHomeDescription">
      </variable>
   </extension>   
   <extension point="org.eclipse.jdt.launching.classpathProviders">
   		<classpathProvider
   			id="org.eclipse.jsp.tomcatClasspathProvider"
   			class="org.eclipse.jsp.launching.TomcatClasspathProvider">
   		</classpathProvider>
   </extension>
   
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.jdt.ui.examples.JSPEditor"
            id="org.eclipse.jsp.BreakpointRulerActions">
         <action
               label="%Dummy.label"
               class="org.eclipse.jsp.launching.ToggleJspBreakpointRulerActionDelegate"
               actionID="RulerDoubleClick"
               id="org.eclipse.jsp.actions.ToggleJspBreakpointAction">
         </action>
      </editorContribution>
   </extension>
   
   	<extension 
		point="org.eclipse.ui.markerImageProviders">
		<imageprovider 
			id="org.eclipse.jsp.breakpointMarkerProvider"
			markertype="org.eclipse.debug.core.breakpointMarker"
			icon="icons/full/obj16/brkp_obj.gif">
		</imageprovider>
	</extension>
   
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="%TomcatSourceLocator.name"
            class="org.eclipse.jsp.launching.TomcatSourceLocator"
            id="org.eclipse.jsp.TOMCAT_SOURCE_LOCATOR">
      </sourceLocator>
   </extension>
   
   	<extension
		point="org.eclipse.ui.preferencePages">
		<page name="%JavaFamilyExamplePreferencePage.name"
			id="org.eclipse.jsp.JavaFamilyExamplePreferencePage"
			class="org.eclipse.jsp.JavaFamilyExamplePreferencePage"
			category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
		</page>	
	</extension>
      
</plugin>
