<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ltk.ui"
   name="%plugin.name"
   version="1.0.0"
   provider-name="%provider.name">

   <runtime>
      <library name="ltkui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
   </requires>
   
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.editingSource.name"
            description="%context.editingSource.description"
            parentId="org.eclipse.ui.textEditorScope"
            id="org.eclipse.ltk.ui.sourceEditingScope">
      </context>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
         
      <category
            name="%category.source.name"
            description="%category.source.description"
            id="org.eclipse.ltk.ui.category.source">
      </category>

<!-- edit -->
     
      <command
            name="%command.selectEnclosingElement.name"
            description="%command.selectEnclosingElement.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ltk.ui.sourceEditing.selectEnclosingElement">
      </command>
      <keyBinding
            keySequence="M3+M2+ARROW_UP"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.selectEnclosingElement"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.selectNextElement.name"
            description="%command.selectNextElement.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ltk.ui.sourceEditing.selectNextElement">
      </command>
      <keyBinding
            keySequence="M3+M2+ARROW_RIGHT"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.selectNextElement"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.selectPreviousElement.name"
            description="%command.selectPreviousElement.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ltk.ui.sourceEditing.selectPreviousElement">
      </command>
      <keyBinding
            keySequence="M3+M2+ARROW_LEFT"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.selectPreviousElement"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.restoreLastElementSelection.name"
            description="%command.restoreLastElementSelection.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ltk.ui.sourceEditing.restoreLastElementSelection">
      </command>
      <keyBinding
            keySequence="M3+M2+ARROW_DOWN"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.restoreLastElementSelection"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.showTooltip.name"
            description="%command.showTooltip.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ltk.ui.sourceEditing.showTooltip">
      </command>
      <keyBinding
            keySequence="F2"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.showTooltip"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
<!-- source -->

      <command
            name="%command.sourceMenu.name"
            description="%command.sourceMenu.description"
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ltk.ui.sourceEditing.sourceMenu">
      </command>
      <keyBinding
            keySequence="M3+M2+S"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.sourceMenu"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            keySequence="M3+M2+S"
            contextId="org.eclipse.ui.globalScope"
            commandId=""
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            keySequence="M1+M3+S"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.sourceMenu"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.comment.name"
            description="%command.comment.description"
            categoryId="org.eclipse.ltk.ui.category.source"
            id="org.eclipse.ltk.ui.sourceEditing.comment">
      </command>
      
      <command
            name="%command.uncomment.name"
            description="%command.uncomment.description"
            categoryId="org.eclipse.ltk.ui.category.source"
            id="org.eclipse.ltk.ui.sourceEditing.uncomment">
      </command>
      
      <command
            name="%command.toggleComment.name"
            description="%command.toggleComment.description"
            categoryId="org.eclipse.ltk.ui.category.source"
            id="org.eclipse.ltk.ui.sourceEditing.toggleComment">
      </command>
      <keyBinding
            keySequence="M1+M2+C"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.toggleComment"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            keySequence="M1+/"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.toggleComment"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            keySequence="M1+7"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.toggleComment"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="gtk"
            keySequence="M1+M2+C"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId=""
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="gtk"
            keySequence="Esc M1+C"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.toggleComment"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%comment.addBlockComment.name"
            description="%comment.addBlockComment.description"
            categoryId="org.eclipse.ltk.ui.category.source"
            id="org.eclipse.ltk.ui.sourceEditing.addBlockComment">
      </command>
      <keyBinding
            keySequence="M1+M2+/"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.addBlockComment"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.removeBlockComment.name"
            description="%command.removeBlockComment.description"
            categoryId="org.eclipse.ltk.ui.category.source"
            id="org.eclipse.ltk.ui.sourceEditing.removeBlockComment">
      </command>
      <keyBinding
            keySequence="M1+M2+\"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.removeBlockComment"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>

      <command
            name="%command.format.name"
            description="%command.format.description"
            categoryId="org.eclipse.ltk.ui.category.source"
            id="org.eclipse.ltk.ui.sourceEditing.format">
      </command>
      <keyBinding
            keySequence="M1+M2+F"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.format"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="gtk"
            keySequence="M1+M2+F"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId=""
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="gtk"
            keySequence="Esc M1+F"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.format"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.formatElement.name"
            description="%command.formatElement.description"
            categoryId="org.eclipse.ltk.ui.category.source"
            id="org.eclipse.ltk.ui.sourceEditing.formatElement">
      </command>
      
      <command
            name="%command.correctIndentation.name"
            description="%command.correctIndentation.description"
            categoryId="org.eclipse.ltk.ui.category.source"
            id="org.eclipse.ltk.ui.sourceEditing.correctIndentation">
      </command>
      <keyBinding
            keySequence="M1+I"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.correctIndentation"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
	  
	  <command
	        name="%command.toggleMarkOccurrences.label"
	        description="%command.toggleMarkOccurrences.description"
	        categoryId="org.eclipse.ltk.ui.category.source"
	        id="org.eclipse.ltk.ui.sourceEditing.toggleMarkOccurrences">
	  </command>
	  <keyBinding
	        keySequence="M3+M2+O"
	        contextId="org.eclipse.ltk.ui.sourceEditingScope"
	        commandId="org.eclipse.ltk.ui.sourceEditing.toggleMarkOccurrences"
	        keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
	  </keyBinding>
      <keyBinding
            platform="carbon"
            keySequence="M3+M2+O"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId=""
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            keySequence="M1+M3+O"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.toggleMarkOccurrences"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
<!-- navigate -->
      
      <command
            name="%command.gotoNextMember.name"
            description="%command.gotoNextMember.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.ltk.ui.sourceEditing.gotoNextMember">
      </command>
      <keyBinding
            keySequence="M1+M2+ARROW_DOWN"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.gotoNextMember"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.gotoPreviousMember.name"
            description="%command.gotoPreviousMember.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.ltk.ui.sourceEditing.gotoPreviousMember">
      </command>
      <keyBinding
            keySequence="M1+M2+ARROW_UP"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.gotoPreviousMember"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.gotoMatchingBracket.name"
            description="%command.gotoMatchingBracket.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.ltk.ui.sourceEditing.gotoMatchingBracket">
      </command>
      <keyBinding
            keySequence="M1+M2+P"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.gotoMatchingBracket"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.showOutline.name"
            description="%command.showOutline.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.ltk.ui.sourceEditing.showOutline">
      </command>
      <keyBinding
            keySequence="M1+O"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.showOutline"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.openStructure.name"
            description="%command.openStructure.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.ltk.ui.sourceEditing.openStructure">
      </command>
      <keyBinding
            keySequence="M1+F3"
            contextId="org.eclipse.ltk.ui.sourceEditingScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.openStructure"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      
      <command
            name="%command.openEditor.name"
            description="%command.openEditor.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.ltk.ui.sourceEditing.openEditor">
      </command>
      <keyBinding
            keySequence="F3"
            contextId="org.eclipse.ui.globalScope"
            commandId="org.eclipse.ltk.ui.sourceEditing.openEditor"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
            
   </extension>

</plugin>
