<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%JUnitProjectExampleCreationWizard.categoryName"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.jdt.ui.java">
      </category>
      <wizard
            name="%JUnitProjectExampleCreationWizard.title"
            icon="$nl$/icons/full/etool16/newjprjex_wiz.gif"
            category="org.eclipse.ui.Examples/org.eclipse.jdt.ui.java"
            class="org.eclipse.jdt.internal.ui.exampleprojects.ExampleProjectCreationWizard"
            project="true"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="org.eclipse.jdt.examples.projects.JUnitProjectExampleCreationWizard">
         <description>
            %JUnitProjectExampleCreationWizard.description
         </description>
         <projectsetup
         	   banner="$nl$/icons/full/wizban/newjprjex_wiz.png"
         	   encoding="ISO-8859-1"
               pagetitle="%JUnitProjectExampleCreationWizard.pagetitle"
               name="JUnit"
               label="%JUnitProjectExampleCreationWizard.label"
               pagedescription="%JUnitProjectExampleCreationWizard.pagedescription">
            <nature
                  id="org.eclipse.jdt.core.javanature">
            </nature>
            <import
                  dest=""
                  src="archive/junit/junit381src.jar">
            </import>
         </projectsetup>
      </wizard>
   </extension>

</plugin>
