<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jdt.ui.examples.projects"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.jdt.internal.ui.exampleprojects.ExampleProjectsPlugin">

   <runtime>
      <library name="jdtexamples.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      
   </requires>


   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%JUnitProjectExampleCreationWizard.categoryName"
            parentCategory="org.eclipse.ui.Examples"
            id="org.eclipse.jdt.ui.java">
      </category>
      <wizard
            banner="icons/full/wizban/newjprjex_wiz.gif"
            name="%JUnitProjectExampleCreationWizard.title"
            icon="icons/full/ctool16/newjprjex_wiz.gif"
            category="org.eclipse.ui.Examples/org.eclipse.jdt.ui.java"
            class="org.eclipse.jdt.internal.ui.exampleprojects.ExampleProjectCreationWizard"
            project="true"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="org.eclipse.jdt.examples.projects.JUnitProjectExampleCreationWizard">
         <description>
            %JUnitProjectExampleCreationWizard.description
         </description>
         <projectsetup
               pagetitle="%JUnitProjectExampleCreationWizard.pagetitle"
               name="JUnit"
               label="%JUnitProjectExampleCreationWizard.label"
               pagedescription="%JUnitProjectExampleCreationWizard.pagedescription">
            <nature
                  id="org.eclipse.jdt.core.javanature">
            </nature>
            <import
                  dest=""
                  src="archive/junit/junit37src.jar">
            </import>
         </projectsetup>
      </wizard>
   </extension>

</plugin>
