<?xml version="1.0" encoding="UTF-8"?>

<plugin
	id="org.eclipse.jdt.junit"
	name="%pluginName"
	version="2.1.0"
	class="org.eclipse.jdt.internal.junit.ui.JUnitPlugin"
	provider-name="%providerName">

	<requires>
		<import plugin="org.eclipse.ui"/>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.core.boot"/>
		<import plugin="org.eclipse.debug.core"/>
		<import plugin="org.eclipse.debug.ui"/>
		<import plugin="org.eclipse.jdt.core"/>
		<import plugin="org.eclipse.jdt.ui"/>
		<import plugin="org.eclipse.jdt.debug"/>
		<import plugin="org.eclipse.swt"/>
		<import plugin="org.eclipse.core.runtime"/>
		<import plugin="org.eclipse.jdt.launching"/>
		<import plugin="org.eclipse.jdt.debug.ui"/>
		<import plugin="org.junit"/>     
	</requires>
	
	<runtime>
		<library name="junitsupport.jar">
			<export name="*"/>
			<packages prefixes="org.eclipse.jdt.internal.junit"/>
		</library>
	</runtime>

	<extension
		point="org.eclipse.ui.views">
		<view
			name="%View.label"
			icon="icons/full/cview16/junit.gif"
			category="org.eclipse.jdt.ui.java"
			class="org.eclipse.jdt.internal.junit.ui.TestRunnerViewPart"
			id="org.eclipse.jdt.junit.ResultView"
			fastViewWidthRatio="0.40">	
		</view>
	</extension>
	
    <extension 
    	point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension 
           targetID="org.eclipse.jdt.ui.JavaPerspective"> 
           <view id="org.eclipse.jdt.junit.ResultView" 
                relative="org.eclipse.jdt.ui.PackageExplorer"
                visible="false" 
                relationship="stack"/> 
        </perspectiveExtension> 
        <perspectiveExtension 
			targetID="org.eclipse.jdt.ui.JavaPerspective">
			<actionSet id="org.eclipse.jdt.junit.JUnitActionSet"/>
		</perspectiveExtension>
		<perspectiveExtension 
			targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
			<actionSet id="org.eclipse.jdt.junit.JUnitActionSet"/>
		</perspectiveExtension>
    </extension> 

	<extension
		point="org.eclipse.ui.preferencePages">
		<page name="%PreferencePage.label"
			id="org.eclipse.jdt.junit.preferences"
			class="org.eclipse.jdt.internal.junit.ui.JUnitPreferencePage"
			category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"> 
		</page>
	</extension>
	
	<extension point = "org.eclipse.debug.core.launchConfigurationTypes">
   		<launchConfigurationType
   	   		id="org.eclipse.jdt.junit.launchconfig"
	   		name="%Launch.label"
	   		delegate="org.eclipse.jdt.internal.junit.launcher.JUnitLaunchConfiguration"
	   		modes= "run, debug">
	   <fileExtension
	   		extension="java"
	   		default="false"/>
	   <fileExtension
	   		extension="class"
	   		default="false"/>
   		</launchConfigurationType>
	</extension>
	
	<extension point = "org.eclipse.debug.core.launchConfigurationComparators">
		<launchConfigurationComparator
			id = "org.eclipse.jdt.junit.containerComparator"
			class = "org.eclipse.jdt.internal.junit.launcher.ContainerComparator"
			attribute = "org.eclipse.jdt.junit.CONTAINER"/>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			id="org.eclipse.jdt.junit.launchimage"
			configTypeID="org.eclipse.jdt.junit.launchconfig"
			icon="icons/full/obj16/julaunch.gif">
		</launchConfigurationTypeImage>	
	</extension>
		
	<extension point = "org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			id="org.eclipse.jdt.junit.launchConfigurationTabGroup.junit"
			type ="org.eclipse.jdt.junit.launchconfig"
			class="org.eclipse.jdt.internal.junit.launcher.JUnitTabGroup">
		</launchConfigurationTabGroup>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category
		   id = "org.eclipse.jdt.junit"
		   parentCategory="org.eclipse.jdt.ui.java"
		   name="%WizardCategory.name">
		</category>
		<wizard 
			id="org.eclipse.jdt.junit.wizards.NewTestCaseCreationWizard"
			name="%TestCaseWizard.name"
			class="org.eclipse.jdt.internal.junit.wizards.NewTestCaseCreationWizard"
			category="org.eclipse.jdt.ui.java/org.eclipse.jdt.junit"
			icon="icons/full/ctool16/new_testcase.gif">
			<description>%TestWizard.description</description>
	    </wizard>
		<wizard 
			id="org.eclipse.jdt.junit.wizards.NewTestSuiteCreationWizard"
			name="%TestSuiteWizard.name"
			class="org.eclipse.jdt.internal.junit.wizards.NewTestSuiteCreationWizard"
			category="org.eclipse.jdt.ui.java/org.eclipse.jdt.junit"
			icon="icons/full/ctool16/new_testsuite.gif">
			<description>%SuiteWizard.description</description>
	    </wizard>
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="org.eclipse.jdt.junit.wizards.UpdateTestSuite"
			objectClass="org.eclipse.jdt.core.ICompilationUnit"
			nameFilter="AllTests.java">
			<action
				id="updateTestSuite"
				label="%UpdateSuiteAction.label"
				tooltip="%UpdateSuiteAction.tooltip"
				enablesFor="1"
				class="org.eclipse.jdt.internal.junit.wizards.UpdateTestSuite">
			</action>
		</objectContribution>
	</extension>

   <extension point="org.eclipse.ui.actionSets">
		<actionSet
            label="JUnit"
            visible="false"
            id="org.eclipse.jdt.junit.JUnitActionSet">
			<action
				label="Referring Tests..."
				tooltip="Go to Test Referring to Selection"
				class="org.eclipse.jdt.internal.junit.ui.GotoReferencedTestAction"
				menubarPath="navigate/goTo/"
				id="junit.actions.GotoTestAction">
			</action>
		</actionSet>
   </extension>	
	
	
	<extension id="junit_task" point="org.eclipse.core.resources.markers" name="%Task.name">
		<super type="org.eclipse.core.resources.taskmarker"/>
		<persistent value="true"/>
	</extension>
	
	<extension point = "org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			id="org.eclipse.jdt.junit.junitShortcut"
			class="org.eclipse.jdt.internal.junit.launcher.JUnitLaunchShortcut"
			label="%JUnitShortcut.label"
			icon="icons/full/obj16/julaunch.gif"
			modes="run, debug">
			<perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
			<perspective id="org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
			<perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
			<perspective id="org.eclipse.debug.ui.DebugPerspective"/>
		</shortcut>
	</extension>

</plugin>