/* Font definitions */
html         { font-family: sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
body, p, table, td, caption, th, ul, ol, dl, li, dd, dt { font-size: 1em; }
pre          { font-family: monospace; }
h1           { font-size: 1.8em; }	
h2           { font-size: 1.2em; }
h3           { font-size: 1.1em; }
h4			 { font-size: 1em;	 }
h5			 { font-size: 0.9em; }
h6			 { font-size: 0.8em; }

/* Margins */
body	     { overflow: auto; margin-top: 0px; margin-bottom: 0.5em; margin-left: 0.3em; margin-right: 0px; }
h1           { margin-top: 1.2em; margin-bottom: 0.5em; }	
h2           { margin-top: 1.1em; margin-bottom: 0.4em; }
h3           { margin-top: 1em; margin-bottom: 0.4em; 	}
h4           { margin-top: 0.9em; margin-bottom: 0.5em; }
h5           { margin-top: 0.8px; margin-bottom: 0.4px; }
h6			 { margin-top: 0.7em; margin-bottom: 0.3em;	}
p            { margin-top: 1em; margin-bottom: 1em; }
pre          { margin-left: 0.6em; }
ul	         { margin-top: 0px; margin-bottom: 1em; margin-left: 1em; padding-left: 1em; }
li	         { margin-top: 0px; margin-bottom: 0px; } 
li p	     { margin-top: 0px; margin-bottom: 0px; } 
ol	         { margin-top: 0px; margin-bottom: 1em; margin-left: 1em; padding-left: 1em; }
dl	         { margin-top: 0px; margin-bottom: 1em; }
dt	         { margin-top: 0px; margin-bottom: 0px; font-weight: bold; }
dd	         { margin-top: 0px; margin-bottom: 0px; }

/* Styles and colors */
a:link	     { color: hyperlinkColor; } /* get's replaced with actual color */
a:hover	     { color: activeHyperlinkColor; } /* get's replaced with actual color */
a:visited    { text-decoration: underline; }
a.header:link    { text-decoration: none; color: InfoText }
a.header:visited { text-decoration: none; color: InfoText }
a.header:hover   { text-decoration: underline; color: activeHyperlinkColor; } /* get's replaced with actual color */
strong	     { font-weight: bold; }
em	         { font-style: italic; }
var	         { font-style: italic; }
th	         { font-weight: bold; }

/* Styling enhancements */

input#formattingSwitch,
input#typeParamsRefsColoringSwitch											{ display: none; }

input#formattingSwitch:checked ~ .styleSwitchParent .methodPrependTypeParams	{ display: block}
input#formattingSwitch:checked ~ .styleSwitchParent .methodParam				{ display: block; text-indent: 1em; }

input#formattingSwitch:checked ~ .styleSwitchParent .typeBracketsStart:before,
input#formattingSwitch:checked ~ .styleSwitchParent .methodParams:before	{ content: " "; }

input#formattingSwitch:checked ~ .styleSwitchParent .methodQualifier		{ opacity: 0.6; }
input#formattingSwitch:checked ~ .styleSwitchParent .methodParamName		{ font-style: italic; }
input#formattingSwitch:checked ~ .styleSwitchParent .methodReturn			{ font-style: italic; }
input#formattingSwitch:checked ~ .styleSwitchParent .methodName				{ font-weight: bold; }

input#formattingSwitch:checked ~ .styleSwitchParent .typeBrackets			{ font-weight: bold; }

/* Start of dynamic type parameters references styling section (do not edit this line) */
input#typeParamsRefsColoringSwitch:checked ~ .styleSwitchParent .typeParamsReferenceNo-INDEX-,
input#typeParamsRefsColoringSwitch:checked ~ .styleSwitchParent .typeParamsReferenceNo-INDEX- a.header
{ color: -COLOR-; }
/* End of dynamic type parameters references styling section (do not edit this line) */


/* Workarounds for new Javadoc stylesheet (1.7) */ 
ul.blockList li.blockList, ul.blockListLast li.blockList {
    list-style:none;
}
ul.blockList ul.blockList ul.blockList ul.blockList li.blockListLast {
    list-style:none;
}
