/* Font definitions */
html         { font-family: sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
body, h1, h2, h3, h4, h5, h6, p, table, td, caption, th, ul, ol, dl, li, dd, dt { font-size: 1em; }
pre          { font-family: monospace; }

/* Margins */
body	     { overflow: auto; margin-top: 0px; margin-bottom: 0.5em; margin-left: 0.3em; margin-right: 0px; }
h1           { margin-top: 0.3em; margin-bottom: 0.04em; }	
h2           { margin-top: 2em; margin-bottom: 0.25em; }
h3           { margin-top: 1.7em; margin-bottom: 0.25em; }
h4           { margin-top: 2em; margin-bottom: 0.3em; }
h5           { margin-top: 0px; margin-bottom: 0px; }
p            { margin-top: 1em; margin-bottom: 1em; }
pre          { margin-left: 0.6em; }
ul	         { margin-top: 0px; margin-bottom: 1em; margin-left: 1em; padding-left: 1em; }
li	         { margin-top: 0px; margin-bottom: 0px; } 
li p	     { margin-top: 0px; margin-bottom: 0px; } 
ol	         { margin-top: 0px; margin-bottom: 1em; margin-left: 1em; padding-left: 1em; }
dl	         { margin-top: 0px; margin-bottom: 1em; }
dt	         { margin-top: 0px; margin-bottom: 0px; font-weight: bold; }
dd	         { margin-top: 0px; margin-bottom: 0px; }

/* Styles and colors */
a:link	     { color: hyperlinkColor; } /* get's replaced with actual color */
a:hover	     { color: activeHyperlinkColor; } /* get's replaced with actual color */
a:visited    { text-decoration: underline; }
a.header:link    { text-decoration: none; color: InfoText }
a.header:visited { text-decoration: none; color: InfoText }
a.header:hover   { text-decoration: underline; color: activeHyperlinkColor; } /* get's replaced with actual color */
h4           { font-style: italic; }
strong	     { font-weight: bold; }
em	         { font-style: italic; }
var	         { font-style: italic; }
th	         { font-weight: bold; }

/* Styling enhancements */
div#previewWatermark	{ background-color: white; display: none; position: fixed; bottom: 2px; right: 2px; border: 2px solid black; color: black; border-radius: 5px; padding: 4px 4px 4px 4px; }

div#previewFormatting,
div#previewWrapping,
div#previewTypeParamsLevelsColoring,
div#previewTypeParamsRefsColoring											{ display: inline; opacity: 0.3; margin-left: 3px; margin-right: 3px; font-weight: normal; }

input#previewSwitch:checked ~ .styleSwitchParent div#previewWatermark		{ display: inline; }
input#previewSwitch:checked ~input#formattingSwitch:checked ~ .styleSwitchParent div#previewFormatting,
input#previewSwitch:checked ~input#wrappingSwitch:checked ~ .styleSwitchParent div#previewWrapping,
input#previewSwitch:checked ~input#typeParamsLevelsColoringSwitch:checked ~ .styleSwitchParent div#previewTypeParamsLevelsColoring,
input#previewSwitch:checked ~input#typeParamsRefsColoringSwitch:checked ~ .styleSwitchParent div#previewTypeParamsRefsColoring		{ opacity: 1; color: red; }

input#previewSwitch,
input#formattingSwitch,
input#wrappingSwitch,
input#typeParamsRefsColoringSwitch,
input#typeParamsLevelsColoringSwitch										{ display: none; }

input#wrappingSwitch:checked ~ .styleSwitchParent .methodPrependTypeParams	{ display: block}
input#wrappingSwitch:checked ~ .styleSwitchParent .methodParam				{ display: block; text-indent: 1em; }

input#formattingSwitch:checked ~ .styleSwitchParent .typeParamsLevelNo1 .typeBracketsStart:before,
input#formattingSwitch:checked ~ .styleSwitchParent .methodParams:before	{ content: " "; }

input#formattingSwitch:checked ~ .styleSwitchParent .methodQualifier		{ opacity: 0.6; }
input#formattingSwitch:checked ~ .styleSwitchParent .methodParamName		{ font-style: italic; }
input#formattingSwitch:checked ~ .styleSwitchParent .methodReturn			{ font-style: italic; }
input#formattingSwitch:checked ~ .styleSwitchParent .methodName				{ font-weight: bold; }

input#formattingSwitch:checked ~ .styleSwitchParent .typeParamsLevel		{ font-weight: 200; }
input#formattingSwitch:checked ~ .styleSwitchParent .typeBrackets			{ font-weight: bold; }

/* Start of dynamic type parameters levels styling section (do not edit this line) */
input#typeParamsLevelsColoringSwitch:checked ~ .styleSwitchParent .typeParamsLevelNo-INDEX-,
input#typeParamsLevelsColoringSwitch:checked ~ .styleSwitchParent .typeParamsLevelNo-INDEX- a.header
{ color: -COLOR-; }
/* End of dynamic type parameters levels styling section (do not edit this line) */

/* Start of dynamic type parameters references styling section (do not edit this line) */
input#typeParamsRefsColoringSwitch:checked ~ .styleSwitchParent .typeParamsReferenceNo-INDEX-,
input#typeParamsRefsColoringSwitch:checked ~ .styleSwitchParent .typeParamsReferenceNo-INDEX- a.header
{ color: -COLOR-; }
/* End of dynamic type parameters references styling section (do not edit this line) */


/* Workarounds for new Javadoc stylesheet (1.7) */ 
ul.blockList li.blockList, ul.blockListLast li.blockList {
    list-style:none;
}
ul.blockList ul.blockList ul.blockList ul.blockList li.blockListLast {
    list-style:none;
}
