<?xml version="1.0" encoding="UTF-8"?>

<plugin
	name="%pluginName"
	id = "org.eclipse.jdt.ui"
	version = "1.5.1"
	provider-name = "Object Technology International, Inc."
	class="org.eclipse.jdt.internal.ui.JavaPlugin">

<requires> 
  <import plugin="org.eclipse.ui"/>
  <import plugin="org.eclipse.help"/>
  <import plugin="org.eclipse.core.resources"/>
  <import plugin="org.eclipse.jdt.core"/>
  <import plugin="org.apache.xerces"/>
  <import plugin="org.eclipse.search"/>
  <import plugin="org.eclipse.debug.core"/>
  <import plugin="org.eclipse.debug.ui"/> 
  <import plugin="org.eclipse.jdt.debug"/>
  <import plugin="org.eclipse.jdt.launching"/>
  <import plugin="org.eclipse.compare"/>
</requires>

<runtime>
  <library name="jdt.jar">  
     <export name = "*"/>
  </library> 
</runtime>

<extension-point name="%elementFiltersName" id="javaElementFilters"/>
<extension-point id="javaEditorTextHovers" name="%javaEditorTextHoversName"/>

<extension
      point="org.eclipse.jdt.ui.javaEditorTextHovers">
   <hover
         class="org.eclipse.jdt.internal.ui.text.java.hover.JavaTypeHover"
         id="org.eclipse.jdt.internal.ui.text.java.hover.JavaTypeHover">
   </hover>
</extension>

<extension 
	point="org.eclipse.ui.perspectives">
	<perspective
		id="org.eclipse.jdt.ui.JavaPerspective"
		name="%perspectiveName"
		icon="icons/full/cview16/jperspective.gif"
		class="org.eclipse.jdt.internal.ui.JavaPerspectiveFactory">
	</perspective>
	<perspective
		id="org.eclipse.jdt.ui.JavaHierarchyPerspective"
		name="%typeHierarchyName"
		icon="icons/full/cview16/hierch_persp.gif"
		class="org.eclipse.jdt.internal.ui.JavaHierarchyPerspectiveFactory">
	</perspective>
</extension>

<extension point="org.eclipse.ui.perspectiveExtensions">
	<perspectiveExtension 
		targetID="org.eclipse.ui.resourcePerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaPerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaPerspective">
		<perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<perspectiveShortcut id="org.eclipse.vcm.ui.vcmPerspective" /> 
		</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.debug.ui.DebugPerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.debug.ui.DebugPerspective">
		<actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
	</perspectiveExtension>
</extension>

<extension point="org.eclipse.ui.projectNatureImages">
	<image
		id="org.eclipse.ui.javaProjectNatureImage"
		natureId="org.eclipse.jdt.core.javanature"
	        icon="icons/full/ovr16/java_ovr.gif">
	</image>
</extension>

<extension 
	point="org.eclipse.ui.views">
	<category 
		id="org.eclipse.jdt.ui.java"
		name="%viewCategoryName">
	</category>
	<view
		id="org.eclipse.jdt.ui.PackageExplorer"
		name="%packagesViewName"
		icon="icons/full/cview16/package.gif"
		category="org.eclipse.jdt.ui.java"
		class="org.eclipse.jdt.internal.ui.packageview.PackageExplorerPart">
	</view>
	<view
		id="org.eclipse.jdt.ui.TypeHierarchy"
		name="%hierarchyViewName"
		category="org.eclipse.jdt.ui.java"
	   	icon="icons/full/cview16/class_hi.gif"
		class="org.eclipse.jdt.internal.ui.typehierarchy.TypeHierarchyViewPart">
	</view>
</extension>

<extension
	point="org.eclipse.ui.capabilities"> 
    <category 
        id = "org.eclipse.jdt.ui.java" 
        name = "%JavaCapabilityCategoryName"> 
    </category> 

    <capability 
        id="org.eclipse.jdt.ui.wizards.JavaCapabilityWizard" 
        icon="icons/full/ctool16/newjprj_wiz.gif" 
        natureId="org.eclipse.jdt.core.javanature" 
        category="org.eclipse.jdt.ui.java" 
        description="%JavaCapabilityWizard.description" 
        installWizard="org.eclipse.jdt.internal.ui.wizards.JavaCapabilityWizard" 
        installDetails="%JavaCapabilityWizard.details"> 
    </capability>
</extension> 

<extension 
	point="org.eclipse.ui.newWizards">
	<category
	   id="org.eclipse.jdt.ui.java"
	   name="%newWizardCategoryName">
	</category>
	<wizard 
		id="org.eclipse.jdt.ui.wizards.NewProjectCreationWizard"
		name="%NewJavaProject.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewProjectCreationWizard"
		category="org.eclipse.jdt.ui.java"
		project="true"
		finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
		icon="icons/full/ctool16/newjprj_wiz.gif">
		<description>%NewJavaProject.description</description>
    </wizard>	
	<wizard
		id="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard"
		name="%NewJavaPackage.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewPackageCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newpack_wiz.gif">
		<description>%NewJavaPackage.description</description>
	</wizard>	
	<wizard
		id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard"
		name="%NewJavaClass.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewClassCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newclass_wiz.gif">
		<description>%NewJavaClass.description</description>
	</wizard>
	<wizard 
		id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard"
		name="%NewJavaInterface.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewInterfaceCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newint_wiz.gif">
		<description>%NewJavaInterface.description</description>
	</wizard>
	<wizard
		id="org.eclipse.jdt.ui.wizards.NewSnippetFileCreationWizard"
		name="%NewJavaScrapbookPage.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewSnippetFileCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newsbook_wiz.gif">
		<description>%NewJavaScrapbookPage.description</description>
	</wizard>	    
	<wizard
		id="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard"
		name="%NewSourceFolderCreationWizard.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewSourceFolderCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newpackfolder_wiz.gif">
		<description>%NewSourceFolderCreationWizard.description</description>
	</wizard>	    
</extension>

<extension
	point="org.eclipse.ui.propertyPages">
   	<page name="%buildPathPageName"
  	   id="org.eclipse.jdt.ui.propertyPages.BuildPathsPropertyPage"
       objectClass="org.eclipse.core.resources.IProject"
       class="org.eclipse.jdt.internal.ui.preferences.BuildPathsPropertyPage">
       <filter name="nature" value="org.eclipse.jdt.core.javanature"/>
   	</page>
   	<page name="%buildPathPageName"
  	   id="org.eclipse.jdt.ui.propertyPages.BuildPathsPropertyPage"
       objectClass="org.eclipse.jdt.core.IJavaProject"
       class="org.eclipse.jdt.internal.ui.preferences.BuildPathsPropertyPage">
       <filter name="nature" value="org.eclipse.jdt.core.javanature"/>
   	</page>
   	<page name="%sourceAttachmentPageName"
		id="org.eclipse.jdt.ui.propertyPages.SourceAttachmentPage1" 
		objectClass="org.eclipse.jdt.core.IPackageFragmentRoot"
		class="org.eclipse.jdt.internal.ui.preferences.SourceAttachmentPropertyPage"
		nameFilter="*.jar">
    </page>  
  	<page name="%sourceAttachmentPageName" 
		id="org.eclipse.jdt.ui.propertyPages.SourceAttachmentPage2" 
		objectClass="org.eclipse.core.resources.IFile"
		class="org.eclipse.jdt.internal.ui.preferences.SourceAttachmentPropertyPage"
		nameFilter="*.jar">
    </page>
	<page name="%javadocLocationPageName"
		id="org.eclipse.jdt.internal.ui.preferences.JavadocConfigurationPropertyPage1"
		objectClass="org.eclipse.core.resources.IProject"
		class="org.eclipse.jdt.internal.ui.preferences.JavadocConfigurationPropertyPage">
		<filter name="nature" value="org.eclipse.jdt.core.javanature"/>
	</page>
	<page name="%javadocLocationPageName"
		id="org.eclipse.jdt.internal.ui.preferences.JavadocConfigurationPropertyPage2"
		objectClass="org.eclipse.core.resources.IFile"
		class="org.eclipse.jdt.internal.ui.preferences.JavadocConfigurationPropertyPage"
		nameFilter="*.jar">
	</page>
	<page name="%javadocLocationPageName"
		id="org.eclipse.jdt.internal.ui.preferences.JavadocConfigurationPropertyPage3"
		objectClass="org.eclipse.jdt.core.IPackageFragmentRoot"
		class="org.eclipse.jdt.internal.ui.preferences.JavadocConfigurationPropertyPage"
		nameFilter="*.jar">
	</page>
 	<page name="%javadocLocationPageName"
		id="org.eclipse.jdt.internal.ui.preferences.JavadocConfigurationPropertyPage4"
		objectClass="org.eclipse.jdt.core.IJavaProject"
		class="org.eclipse.jdt.internal.ui.preferences.JavadocConfigurationPropertyPage">
		<filter name="nature" value="org.eclipse.jdt.core.javanature"/>
	</page>
 </extension>

<extension
    point = "org.eclipse.ui.elementFactories">
    <factory id ="org.eclipse.jdt.ui.ClassFileEditorInputFactory"
      class="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditorInputFactory">
	</factory>
    <factory id ="org.eclipse.jdt.ui.PersistableJavaElementFactory"
      class="org.eclipse.jdt.internal.ui.PersistableJavaElementFactory">
	</factory>
</extension>

<extension
    point= "org.eclipse.ui.editors"
    id= "org.eclipse.jdt.ui.javaeditor">
   
   <editor
      id="org.eclipse.jdt.ui.CompilationUnitEditor"
      icon="icons/full/obj16/jcu_obj.gif"
      name="%JavaEditor.label"
      extensions="java"
      class="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditor"
      contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor">
   </editor>
   
   <editor
      id ="org.eclipse.jdt.ui.ClassFileEditor"
      icon="icons/full/obj16/classf_obj.gif"
      name="%classFileViewerName"
      extensions="class"
      class="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditor"
      contributorClass="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditorActionContributor">
   </editor>
   
   <editor id ="org.eclipse.jdt.ui.DefaultTextEditor"
      icon="icons/full/obj16/file_obj.gif"
      name="%propertiesFileEditorName"
      extensions="properties"
      class="org.eclipse.ui.editors.text.TextEditor"
      contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">     
    </editor>

   <editor id ="org.eclipse.jdt.ui.JARDescEditor"
      icon="icons/full/obj16/jar_desc_obj.gif"
      name="%jarDescEditorName"
      extensions="jardesc"
      class="org.eclipse.ui.editors.text.TextEditor"
      contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">     
    </editor>

</extension>

<extension
	point= "org.eclipse.ui.markerUpdaters">
	<updater id="org.eclipse.jdt.ui.markerUpdaters.JavaSearchMarkerUpdater"
		class="org.eclipse.jdt.internal.ui.search.JavaSearchMarkerUpdater"
		markerType="org.eclipse.search.searchmarker">
	</updater>
</extension>

<extension
	point="org.eclipse.ui.preferencePages">
	<page name="%javaPrefName"
		id="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%appearancePrefName"
		id="org.eclipse.jdt.ui.preferences.AppearancePreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.AppearancePreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>		
	<page name="%organizeImportsPrefName"
		id="org.eclipse.jdt.ui.preferences.ImportOrganizePreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.ImportOrganizePreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
	<page name="%codeFormatterPrefName"
		id="org.eclipse.jdt.ui.preferences.CodeFormatterPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.CodeFormatterPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%classPathVarPrefName"
		id="org.eclipse.jdt.ui.preferences.ClasspathVariablesPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.ClasspathVariablesPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
	<page name="%editorPrefName"
		id="org.eclipse.jdt.ui.preferences.JavaEditorPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.JavaEditorPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%compilerOptionsPrefName"
		id="org.eclipse.jdt.ui.preferences.CompilerPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.CompilerPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
	<page name="%templatePageName"
		id = "org.eclipse.jdt.ui.preferences.TemplatePreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.TemplatePreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%workInProgressPageName"
		id = "org.eclipse.jdt.ui.preferences.WorkInProgressPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.WorkInProgressPreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%codeGenerationPreferencePageName"
		id = "org.eclipse.jdt.ui.preferences.CodeGenerationPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.CodeGenerationPreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%builderPreferencePageName"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.JavaBuilderPreferencePage"
        id="org.eclipse.jdt.ui.preferences.JavaBuilderPreferencePage">
	</page>	
</extension>

<extension point="org.eclipse.ui.actionSets">
	<actionSet
		id="org.eclipse.jdt.ui.JavaElementCreationActionSet"
        label="%JavaElementCreationActionSet.label"
		visible="false"
		description="%JavaElementCreationActionSet.description">
		<action id="org.eclipse.jdt.ui.actions.OpenSnippetWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenSnippetWizardAction.label"
			tooltip="%OpenSnippetWizardAction.tooltip"
			icon="icons/full/ctool16/newsbook_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenSnippetWizardAction"/>			
		<action id="org.eclipse.jdt.ui.actions.OpenInterfaceWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenInterfaceWizardAction.label"
			tooltip="%OpenInterfaceWizardAction.tooltip"
			icon="icons/full/ctool16/newint_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenInterfaceWizardAction"/>
		<action id="org.eclipse.jdt.ui.actions.OpenClassWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenClassWizardAction.label"
			tooltip="%OpenClassWizardAction.tooltip"
			icon="icons/full/ctool16/newclass_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenClassWizardAction"/>
		<action id="org.eclipse.jdt.ui.actions.OpenPackageWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenPackageWizardAction.label"
			tooltip="%OpenPackageWizardAction.tooltip"
			icon="icons/full/ctool16/newpack_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenPackageWizardAction"/>
		<action id="org.eclipse.jdt.ui.actions.OpenProjectWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenProjectWizardAction.label"
			tooltip="%OpenProjectWizardAction.tooltip"
			icon="icons/full/ctool16/newjprj_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenProjectWizardAction"/>
    </actionSet>
</extension>

<!-- =========================================================================== -->
<!-- Java Search Page                                                            -->
<!-- =========================================================================== -->
<extension point="org.eclipse.search.searchPages">
   <page id="org.eclipse.jdt.ui.JavaSearchPage"
         icon="icons/full/obj16/jsearch_obj.gif"
         label="%JavaSearchPage.label"
		 sizeHint="460,160"
		 extensions="java:90, jav:90"
		 showScopeSection="true"
		 class="org.eclipse.jdt.internal.ui.search.JavaSearchPage">
   </page>
</extension>

<extension point="org.eclipse.search.searchResultSorters">
	<sorter
		id="org.eclipse.search.internal.ui.ElementNameSorter"
		pageId="org.eclipse.jdt.ui.JavaSearchPage"
		label="%ElementNameSorter.label"
		tooltip="%ElementNameSorter.tooltip"
		icon="icons/full/clcl16/search_sortmatch.gif"
		class="org.eclipse.jdt.internal.ui.search.ElementNameSorter">
	</sorter>
	<sorter
		id="org.eclipse.search.internal.ui.ParentNameSorter"
		pageId="org.eclipse.jdt.ui.JavaSearchPage"
		label="%ParentNameSorter.label"
		tooltip="%ParentNameSorter.tooltip"
		icon="icons/full/clcl16/search_sortmatch.gif"
		class="org.eclipse.jdt.internal.ui.search.ParentNameSorter">
	</sorter>
	<sorter
		id="org.eclipse.search.internal.ui.PathNameSorter"
		pageId="org.eclipse.jdt.ui.JavaSearchPage"
		label="%PathNameSorter.label"
		tooltip="%PathNameSorter.tooltip"
		icon="icons/full/clcl16/search_sortmatch.gif"
		class="org.eclipse.jdt.internal.ui.search.PathNameSorter">
	</sorter>
</extension>

<!-- =========================================================================== -->
<!-- Java Compare                                                                -->
<!-- =========================================================================== -->

<extension point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="org.eclipse.jdt.internal.ui.compare.JavaReplaceActions"
		objectClass="org.eclipse.jdt.core.IMember">
		<menu
			id="replaceWithMenu"
			path="additions"
			label="%ReplaceWithMenu.label">
			<separator name="replaceWithGroup"/>
		</menu>
		<action
			id="javaReplaceFromHistory"
			label="%JavaReplaceFromHistoryAction.label"
			tooltip="%JavaReplaceFromHistoryAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			enablesFor="1"
			class="org.eclipse.jdt.internal.ui.compare.JavaReplaceWithEditionAction">
		</action>
		<action
			id="javaReplacePreviousFromHistory"
			label="%JavaReplaceWithPreviousFromHistoryAction.label"
			tooltip="%JavaReplaceWithPreviousFromHistoryAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			enablesFor="1"
			class="org.eclipse.jdt.internal.ui.compare.JavaReplaceWithPreviousEditionAction">
		</action>
		<action
			id="javaAddElementFromHistoryAction"
			label="%JavaAddElementFromHistoryAction.label"
			tooltip="%JavaAddElementFromHistoryAction.tooltip"
			menubarPath="replaceWithMenu"
			enablesFor="1"
			class="org.eclipse.jdt.internal.ui.compare.JavaAddElementFromHistory">
		</action>
	</objectContribution>

	<objectContribution
		id="org.eclipse.jdt.internal.ui.compare.JavaCompareActions"
		objectClass="org.eclipse.jdt.core.IMember">
		<menu
			id="compareWithMenu"
			path="additions"
			label="%CompareWithMenu.label">
			<separator name="compareWithGroup"/>
		</menu>
		<action
			id="javaCompareFromHistory"
			label="%JavaCompareFromHistoryAction.label"
			tooltip="%JavaCompareFromHistoryAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.jdt.internal.ui.compare.JavaCompareWithEditionAction">
		</action>
		<action
			id="javaCompare"
			label="%JavaCompareAction.label"
			tooltip="%JavaCompareAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.jdt.internal.ui.compare.JavaCompareAction">
		</action>
	</objectContribution>
			
			
	<objectContribution
		id="org.eclipse.jdt.internal.ui.compare.JavaAddElementFromHistoryAction"
		objectClass="org.eclipse.jdt.core.ICompilationUnit">
		<action
			id="javaAddElementFromHistoryAction"
			label="%JavaAddElementFromHistoryAction.label"
			tooltip="%JavaAddElementFromHistoryAction.tooltip"
			menubarPath="replaceWithMenu"
			enablesFor="1"
			class="org.eclipse.jdt.internal.ui.compare.JavaAddElementFromHistory">
		</action>
	</objectContribution>
</extension>

<extension
	point="org.eclipse.compare.structureCreators">
	<structureCreator
		extensions="jar"
		class="org.eclipse.jdt.internal.ui.compare.JarStructureCreator">
	</structureCreator>
	<structureCreator
		extensions="properties"
		class="org.eclipse.jdt.internal.ui.compare.PropertiesStructureCreator">
	</structureCreator>
	<structureCreator
		extensions="java"
		class="org.eclipse.jdt.internal.ui.compare.JavaStructureCreator">
	</structureCreator>
</extension>

<extension
	point="org.eclipse.compare.contentViewers">
	<viewer
		extensions="java,java2"
		class="org.eclipse.jdt.internal.ui.compare.JavaTextViewerCreator">
	</viewer>
</extension>

<extension
	point="org.eclipse.compare.contentMergeViewers">
	<viewer
		extensions="java,java2"
		class="org.eclipse.jdt.internal.ui.compare.JavaContentViewerCreator">
	</viewer>
	<viewer
		extensions="properties"
		class="org.eclipse.jdt.internal.ui.compare.TextMergeViewerCreator">
	</viewer>
</extension>

<extension
	point="org.eclipse.compare.structureMergeViewers">
	<structureMergeViewer
         extensions="java"
         class="org.eclipse.jdt.internal.ui.compare.JavaStructureDiffViewerCreator">
	</structureMergeViewer>
</extension>

JavaStructureDiffViewerCreator
<!-- End Java Compare -->


<!-- =========================================================================== -->
<!-- Refactoring (for action set see below                                       -->
<!-- =========================================================================== -->

<extension
	point="org.eclipse.ui.preferencePages">
	<page name="%Refactoring.BasePreferencePage.name"
		id="org.eclipse.jdt.ui.preferences.RefactoringPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.RefactoringPreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
</extension>
<!-- End Refactoring -->


<!-- =========================================================================== -->
<!-- Java Launching and debugging                                                -->
<!-- =========================================================================== -->

<extension
	point= "org.eclipse.ui.resourceFilters">
	<filter pattern = "*.class" selected = "false" >
	</filter>
</extension>

<extension
	point= "org.eclipse.jdt.ui.javaElementFilters">
	<filter pattern = ".*" selected = "true">
	</filter>
	<filter pattern = "*$*.class" selected = "false">
	</filter>
</extension>

<!-- =========================================================================== -->
<!-- JAR Packager                                                                -->
<!-- =========================================================================== -->

<extension point="org.eclipse.ui.exportWizards">
	<wizard
	   id="org.eclipse.jdt.internal.ui.jarpackager.JarPackageWizard"
	   name="%jarExportWizard.label"
	   class="org.eclipse.jdt.internal.ui.jarpackager.JarPackageWizard"
	   icon="icons/full/ctool16/exportjar_wiz.gif">
	   <description>%jarExportWizard.description</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
</extension> 

<extension point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="org.eclipse.jdt.internal.ui.jarpackager.RunJarPackager"
		objectClass="org.eclipse.core.resources.IResource"
		nameFilter="*.jardesc">
		<action
			id="CreateJar"
			label="%createJarAction.label"
			tooltip="%createJarAction.tooltip"
			menubarPath="additions"
			enablesFor="+"
			class="org.eclipse.jdt.internal.ui.jarpackager.CreateJarActionDelegate">
		</action>
	</objectContribution>			
	<objectContribution
		id="org.eclipse.jdt.internal.ui.jarpackager.RunJarPackager"
		objectClass="org.eclipse.core.resources.IResource"
		nameFilter="*.jardesc">
		<action
			id="OpenJarPackageWizard"
			label="%openJarPackager.label"
			tooltip="%openJarPackager.tooltip"
			menubarPath="additions"
			enablesFor="1"
			class="org.eclipse.jdt.internal.ui.jarpackager.OpenJarPackageWizardActionDelegate">
		</action>
	</objectContribution>			
</extension>

<!-- =========================================================================== -->
<!-- Javadoc Export                                                              -->
<!-- =========================================================================== -->

<extension point="org.eclipse.ui.exportWizards">
	<!-- Change to necessary NLS -->
	<wizard
	   id="org.eclipse.jdt.internal.ui.javadocexport.JavadocWizard"
	   name="%JavadocWizard.name"
	   class="org.eclipse.jdt.internal.ui.javadocexport.JavadocWizard"
	   icon="icons/full/ctool16/insp_sbook.gif">
	   <description>Generate Javadoc</description>
	   <selection class="org.eclipse.core.resources.IProject"/>
	</wizard>
</extension>

<extension
	point="org.eclipse.ui.preferencePages">
	<page name="%JavaDoc.preferencePageName"
		id="org.eclipse.jdt.ui.preferences.JavadocPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.JavadocPreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
</extension>

<extension point="org.eclipse.ui.popupMenus"> 
	<objectContribution
		id="org.eclipse.jdt.internal.ui.javadocexport.JavadocWizard"
		objectClass="org.eclipse.core.resources.IFile"
		nameFilter="*.xml"> 
		<action id="LaunchJavadocWizard"
			label="%CreateJavadocAction.label"
			tooltip="%CreateJavadocAction.tooltip"
			enablesFor="1"
			class="org.eclipse.jdt.internal.ui.javadocexport.CreateJavadocActionDelegate"/> 
	</objectContribution> 
</extension>

<!-- =========================================================================== -->
<!-- NLS tool 																	 -->
<!-- =========================================================================== -->

<!-- NLS Search Page
<extension point="org.eclipse.search.searchPages">
   <page id="org.eclipse.jdt.ui.refactoring.NLSSearchPage"
         tabPosition="2000000000"
         label="%NLSsearchPageLabel"
         icon="icons/full/obj16/nls_search_obj.gif"
         extensions="java:89, properties:90"
		 showScopeSection="true"         
         class="org.eclipse.jdt.internal.ui.refactoring.nls.search.NLSSearchPage"
         sizeHint="460,160">
   </page>
</extension>
                                                            -->

<!-- =========================================================================== -->
<!-- Java Browsing 																 -->
<!-- =========================================================================== -->

<extension 
	point="org.eclipse.ui.perspectives">
	<perspective
		id="org.eclipse.jdt.ui.JavaBrowsingPerspective"
		name="%Browsing.perspectiveName"
		icon="icons/full/cview16/browse_persp.gif"
		class="org.eclipse.jdt.internal.ui.browsing.JavaBrowsingPerspectiveFactory">
	</perspective>
</extension>

<extension point="org.eclipse.ui.perspectiveExtensions">
	<perspectiveExtension 
		targetID="org.eclipse.ui.resourcePerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaPerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
		<perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
			<perspectiveShortcut id="org.eclipse.vcm.ui.vcmPerspective" /> 
		</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.debug.ui.DebugPerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
	</perspectiveExtension>
</extension>

<extension 
	point="org.eclipse.ui.views">
	<category 
		id="org.eclipse.jdt.ui.java.browsing"
		name="%Browsing.viewCategoryName">
	</category>

	<view
		id="org.eclipse.jdt.ui.ProjectsView"
		name="%Browsing.projectsViewName"
		category="org.eclipse.jdt.ui.java.browsing"
		class="org.eclipse.jdt.internal.ui.browsing.ProjectsView"
		icon="icons/full/cview16/projects.gif">
	</view>

	<view
		id="org.eclipse.jdt.ui.PackagesView"
		name="%Browsing.packagesViewName"
		category="org.eclipse.jdt.ui.java.browsing"
		class="org.eclipse.jdt.internal.ui.browsing.PackagesView"
		icon="icons/full/cview16/packages.gif">
	</view>

	<view
		id="org.eclipse.jdt.ui.TypesView"
		name="%Browsing.typesViewName"
		category="org.eclipse.jdt.ui.java.browsing"
		class="org.eclipse.jdt.internal.ui.browsing.TypesView"
		icon="icons/full/cview16/types.gif">
	</view>

	<view
		id="org.eclipse.jdt.ui.MembersView"
		name="%Browsing.membersViewName"
		category="org.eclipse.jdt.ui.java.browsing"
		class="org.eclipse.jdt.internal.ui.browsing.MembersView"
		icon="icons/full/cview16/members.gif">
	</view>
</extension>

<extension
	point="org.eclipse.ui.preferencePages">
	<page name="%Browsing.preferencePageName"
		id="org.eclipse.jdt.ui.preferences.JavaBrowsingPreferencePage"
		class="org.eclipse.jdt.internal.ui.browsing.JavaBrowsingPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
</extension>



<!-- =========================================================================== -->
<!-- Java Action Set (Adding the source, refactor and navigate menu              -->
<!-- =========================================================================== -->

<extension point="org.eclipse.ui.actionSets">
	<actionSet
		id="org.eclipse.jdt.ui.JavaActionSet"
        label="%JavaActionSet.label"
		visible="false"
		description="%JavaActionSet.description">

		<!-- =========================================================================== -->
		<!-- Navigate Menu                                                               -->
		<!-- =========================================================================== -->
			
      	<menu
            id="navigate"
            label="%NavigateMenu.label"
            path="edit">
            <separator name="goGroup" />
         	<separator name="openGroup"/>
         	<separator name="showGroup"/>
         	<separator name="problemGroup"/>
      	</menu>
		<action id="openType"
			menubarPath="navigate/openGroup"
			toolbarPath="Normal/Java"			
			label="%OpenTypeAction.label"
			tooltip="%OpenTypeAction.tooltip"
			icon="icons/full/ctool16/opentype.gif"
			class="org.eclipse.jdt.internal.ui.actions.OpenTypeAction"/>
		<action id="openExternalJavadoc"
      		menubarPath="navigate/openGroup"
      		label="%OpenExternalJavadocAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$OpenExternalJavadoc" />
		<action id="openSuperImplementation"
      		menubarPath="navigate/openGroup"
      		label="%OpenSuperImplementationAction.label"
			tooltip="%OpenSuperImplementationAction.tooltip"
			description="%OpenSuperImplementationAction.description"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$OpenSuperImplementation" />
		<action id="openTypeHierarchy"
      		menubarPath="navigate/openGroup"
      		label="%OpenTypeHierarchyAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$OpenTypeHierarchy" />
		<action id="openSelection"
      		menubarPath="navigate/openGroup"
      		label="%OpenAction.label"
			tooltip="%OpenAction.tooltip"
			description="%OpenAction.description"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$OpenAction" />
		<action id="showInNavigatorView"
      		menubarPath="navigate/showGroup"
      		label="%ShowInNavigatorViewAction.label"
      		tooltip="%ShowInNavigatorViewAction.tooltip"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$ShowInNavigatorView" />
		<action id="showInPackageView"
      		menubarPath="navigate/showGroup"
      		label="%ShowInPackageViewAction.label"
      		tooltip="%ShowInPackageViewAction.tooltip"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$ShowInPackageView" />
		<action id="previousProblem"
      		menubarPath="navigate/problemGroup"
      		label="%ShowPreviousProblemAction.label"
      		icon="icons/full/ctool16/prev_error_nav.gif"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$ShowPreviousProblem" />
		<action id="nextProblem"
      		menubarPath="navigate/problemGroup"
      		label="%ShowNextProblemAction.label"
      		icon="icons/full/ctool16/next_error_nav.gif"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$ShowNextProblem" />
		
		
		<!-- =========================================================================== -->
		<!-- Refactoring Menu                                                            -->
		<!-- =========================================================================== -->
		
      	<menu
            id="org.eclipse.jdt.ui.refactoring.menu"
            label="%Refactoring.menu.label"
            path="edit">
         	<separator name="undoRedoGroup"/>
         	<separator name="reorgGroup"/>
         	<separator name="codingGroup"/>
      	</menu>
      	
      	<!-- undo/redo group  -->		
		<action id="RedoAction"
			menubarPath="org.eclipse.jdt.ui.refactoring.menu/undoRedoGroup"
			label="%Refactoring.redoAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.RedoRefactoringAction"/>
		<action id="UndoAction"
			menubarPath="org.eclipse.jdt.ui.refactoring.menu/undoRedoGroup"
			label="%Refactoring.undoAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.UndoRefactoringAction"/>
				
		<!-- reorg group  -->		
		<action id="MoveAction"
			menubarPath="org.eclipse.jdt.ui.refactoring.menu/reorgGroup"
			label="%Refactoring.moveAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.MoveActionDelegate">
		</action>
		<action id="ModifyParametersAction"
			menubarPath="org.eclipse.jdt.ui.refactoring.menu/reorgGroup"
			label="%Refactoring.modifyParametersAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.ModifyParametersActionDelegate">
		</action>
		<action id="RenameAction"
			menubarPath="org.eclipse.jdt.ui.refactoring.menu/reorgGroup"
			label="%Refactoring.renameAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.RenameActionDelegate"/>
		<action id="PullUpAction"
			menubarPath="org.eclipse.jdt.ui.refactoring.menu/reorgGroup"
			label="%Refactoring.pullUpAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.PullUpActionDelegate"/>	
		
		<!-- coding group  -->	
		<action id="ExtractMethodAction"
			menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
			label="%Refactoring.extractMethodAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.ExtractMethodAction">
		</action>
		<action id="org.eclipse.jdt.ui.actions.SelfEncapsulateField"
			menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
			label="%Refactoring.selfEncapsulateFieldAction.label"
			retarget="true"/>	
		<action id="InlineTempAction"
			menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
			label="%Refactoring.inlineTempAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.InlineTempAction"/>
		<action id="ExtractTempAction"
			menubarPath="org.eclipse.jdt.ui.refactoring.menu/codingGroup"
			label="%Refactoring.extractTempAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.ExtractTempAction"/>

		<!-- =========================================================================== -->
		<!-- Source Menu                                                                 -->
		<!-- =========================================================================== -->

      	<menu
            id="org.eclipse.jdt.ui.source.menu"
            label="%SourceMenu.label"
            path="edit">
         	<separator name="editGroup"/>
         	<separator name="generateGroup"/>
         	<separator name="nlsGroup"/>
      	</menu>
      	
      	<!-- NLS Group -->
      	
		<action id="externalizeStrings"
      		menubarPath="org.eclipse.jdt.ui.source.menu/nlsGroup"
      		label="%ExternalizeStringsAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$ExternalizeStrings" />
		<action id="findStringsToExternalize"
      		menubarPath="org.eclipse.jdt.ui.source.menu/nlsGroup"
      		label="%FindStringsToExternalizeAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$FindStringsToExternalize" />
			
		<!-- Generate Group -->	
			
		<action id="addJavaDocComment"
      		menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup"
      		label="%AddJavaDocCommentAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$AddJavaDocComment" />
		<action id="addConstructorFromSuperclass"
      		menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup"
      		label="%AddConstructorFromSuperclassAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$AddConstructorFromSuperclass" />
		<action id="generateGetterSetter"
      		menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup"
      		label="%GenerateGetterSetterAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$GenerateGetterSetter" />
		<action id="overrideMethods"
      		menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup"
      		label="%OverrideMethodsAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$OverrideMethods" />
		<action id="surroundWithTryCatch"
      		menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup"
      		label="%SurroundWithTryCatchAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$SurroundWithTryCatch" />
		<action id="organizeImports"
      		menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup"
      		label="%OrganizeImportsAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$OrganizeImports" />
		<action id="addImport"
      		menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup"
      		label="%AddImportAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$AddImport" />
			
		<!-- edit group -->	
			
		<action id="format"
      		menubarPath="org.eclipse.jdt.ui.source.menu/editGroup"
      		label="%FormatAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$Format" />			
		<action id="shiftLeft"
      		menubarPath="org.eclipse.jdt.ui.source.menu/editGroup"
      		label="%ShiftLeftAction.label"
      		icon="icons/full/ctool16/shift_l_edit.gif"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$ShiftLeft" />			
		<action id="shiftRight"
      		menubarPath="org.eclipse.jdt.ui.source.menu/editGroup"
      		label="%ShiftRightAction.label"
      		icon="icons/full/ctool16/shift_r_edit.gif"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$ShiftRight" />			
		<action id="uncomment"
      		menubarPath="org.eclipse.jdt.ui.source.menu/editGroup"
      		label="%UncommentAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$Uncomment" />
		<action id="comment"
      		menubarPath="org.eclipse.jdt.ui.source.menu/editGroup"
      		label="%CommentAction.label"
			class="org.eclipse.jdt.internal.ui.actions.ActionDelegates$Comment" />
	</actionSet>			
</extension>

<extension point="org.eclipse.ui.actionSetPartAssociations">
	<actionSetPartAssociation 
		targetID="org.eclipse.jdt.ui.JavaActionSet">
		<part id="org.eclipse.jdt.ui.PackageExplorer"/>
		<part id="org.eclipse.jdt.ui.TypeHierarchy" />
		<part id="org.eclipse.jdt.ui.CompilationUnitEditor"/>
		<part id="org.eclipse.jdt.ui.ClassFileEditor"/>
		<part id="org.eclipse.jdt.ui.ProjectsView"/>
		<part id="org.eclipse.jdt.ui.PackagesView"/>
		<part id="org.eclipse.jdt.ui.TypesView"/>
		<part id="org.eclipse.jdt.ui.MembersView"/>
	</actionSetPartAssociation>
</extension>

<!-- Java Action Set (Adding the source, refactor and navigate menu -->

<extension
	point="org.eclipse.ui.popupMenus">         
	<viewerContribution 
		id="org.eclipse.jdt.ui.CompilationUnitEditorPopupActions" 
		targetID="#CompilationUnitRulerContext">
		<action
			id="org.eclipse.ui.texteditor.TaskRulerAction"
			menubarPath="add"
			label="%AddTask.label"
			tooltip="%AddTask.tooltip"
            helpContextId="org.eclipse.ui.AddTask_action_context"
			class="org.eclipse.ui.texteditor.TaskRulerAction">
		</action>
		<action
			id="org.eclipse.ui.texteditor.BookmarkRulerAction"
			menubarPath="add"
			label="%AddBookmark.label"
			tooltip="%AddBookmark.tooltip"
            helpContextId="org.eclipse.ui.bookmark_action_context"
			class="org.eclipse.ui.texteditor.BookmarkRulerAction">
		</action>
	</viewerContribution>
</extension>

<extension point="org.eclipse.ui.editorActions">
	<editorContribution
		id="org.eclipse.ui.texteditor.ruler.actions"
		targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
		<action
			id="org.eclipse.ui.texteditor.BookmarkRulerAction"
			actionID="RulerDoubleClick"
			label="%Dummy.label"
            helpContextId="org.eclipse.ui.bookmark_action_context"
			class="org.eclipse.ui.texteditor.BookmarkRulerAction">
		</action>
        <action
           id="org.eclipse.ui.texteditor.SelectRulerAction"
           actionID="RulerClick"
           label="%Dummy.label"
           class="org.eclipse.ui.texteditor.SelectRulerAction">
        </action>
	</editorContribution>
</extension>

</plugin>
