<?xml version="1.0" encoding="UTF-8"?>

<plugin
	name="%pluginName"
	id = "org.eclipse.jdt.ui"
	version = "1.0"
	provider-name = "Object Technology International, Inc."
	class="org.eclipse.jdt.internal.ui.JavaPlugin">

<requires> 
  <import plugin="org.eclipse.ui"/>
  <import plugin="org.eclipse.core.resources"/>
  <import plugin="org.eclipse.jdt.core"/>
  <import plugin="org.apache.xerces"/>
  <import plugin="org.eclipse.search"/>
  <import plugin="org.eclipse.debug.core"/>
  <import plugin="org.eclipse.debug.ui"/> 
  <import plugin="org.eclipse.jdt.debug"/>
  <import plugin="org.eclipse.jdt.launching"/>
  <import plugin="org.eclipse.compare"/>
</requires>

<runtime>
  <library name="jdt.jar">  
     <export name = "*"/>
  </library> 
</runtime>

<extension-point name="%elementFiltersName" id="javaElementFilters"/>
<extension-point id="javaEditorTextHovers" name="%javaEditorTextHoversName"/>

<extension
      point="org.eclipse.jdt.ui.javaEditorTextHovers">
   <hover
         class="org.eclipse.jdt.internal.ui.text.java.hover.JavaTypeHover"
         id="org.eclipse.jdt.internal.ui.text.java.hover.JavaTypeHover">
   </hover>
</extension>

<extension 
	point="org.eclipse.ui.perspectives">
	<perspective
		id="org.eclipse.jdt.ui.JavaPerspective"
		name="%perspectiveName"
		icon="icons/full/cview16/jperspective.gif"
		class="org.eclipse.jdt.internal.ui.JavaPerspectiveFactory">
	</perspective>
	<perspective
		id="org.eclipse.jdt.ui.JavaHierarchyPerspective"
		name="%typeHierarchyName"
		icon="icons/full/cview16/hierch_persp.gif"
		class="org.eclipse.jdt.internal.ui.JavaHierarchyPerspectiveFactory">
	</perspective>
</extension>

<extension point="org.eclipse.ui.perspectiveExtensions">
	<perspectiveExtension 
		targetID="org.eclipse.ui.resourcePerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaPerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaPerspective">
		<perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<perspectiveShortcut id="org.eclipse.vcm.ui.vcmPerspective" /> 
		</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.debug.ui.DebugPerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.debug.ui.DebugPerspective">
		<actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
	</perspectiveExtension>
    <perspectiveExtension 
    	targetID="org.eclipse.debug.ui.DebugPerspective"> 
    	<view id="org.eclipse.jdt.debug.ui.DisplayView" 
        	relative="org.eclipse.debug.ui.InspectorView" 
    		relationship="stack"/> 
    	<viewShortcut id="org.eclipse.jdt.debug.ui.DisplayView"/>
     </perspectiveExtension> 
</extension>

<extension point="org.eclipse.ui.projectNatureImages">
	<image
		id="org.eclipse.ui.javaProjectNatureImage"
		natureId="org.eclipse.jdt.core.javanature"
	        icon="icons/full/ovr16/java_ovr.gif">
	</image>
</extension>

<extension 
	point="org.eclipse.ui.views">
	<category 
		id="org.eclipse.jdt.ui.java"
		name="%viewCategoryName">
	</category>
	<view
		id="org.eclipse.jdt.ui.PackageExplorer"
		name="%packagesViewName"
		icon="icons/full/cview16/package.gif"
		category="org.eclipse.jdt.ui.java"
		class="org.eclipse.jdt.internal.ui.packageview.PackageExplorerPart">
	</view>
	<view
		id="org.eclipse.jdt.ui.TypeHierarchy"
		name="%hierarchyViewName"
		category="org.eclipse.jdt.ui.java"
	   	icon="icons/full/cview16/class_hi.gif"
		class="org.eclipse.jdt.internal.ui.typehierarchy.TypeHierarchyViewPart">
	</view>
</extension>


<extension 
	point="org.eclipse.ui.newWizards">
	<category
	   id="org.eclipse.jdt.ui.java"
	   name="%newWizardCategoryName">
	</category>
	<wizard 
		id="org.eclipse.jdt.ui.wizards.NewProjectCreationWizard"
		name="%NewJavaProject.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewProjectCreationWizard"
		category="org.eclipse.jdt.ui.java"
		project="true"
		finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
		icon="icons/full/ctool16/newjprj_wiz.gif">
		<description>%NewJavaProject.description</description>
    </wizard>	
	<wizard
		id="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard"
		name="%NewJavaPackage.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewPackageCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newpack_wiz.gif">
		<description>%NewJavaPackage.description</description>
	</wizard>	
	<wizard
		id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard"
		name="%NewJavaClass.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewClassCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newclass_wiz.gif">
		<description>%NewJavaClass.description</description>
	</wizard>
	<wizard 
		id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard"
		name="%NewJavaInterface.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewInterfaceCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newint_wiz.gif">
		<description>%NewJavaInterface.description</description>
	</wizard>
	<wizard
		id="org.eclipse.jdt.ui.wizards.NewSnippetFileCreationWizard"
		name="%NewJavaScrapbookPage.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewSnippetFileCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newsbook_wiz.gif">
		<description>%NewJavaScrapbookPage.description</description>
	</wizard>	    
	<wizard
		id="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard"
		name="%NewSourceFolderCreationWizard.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewSourceFolderCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newpackfolder_wiz.gif">
		<description>%NewSourceFolderCreationWizard.description</description>
	</wizard>	    
</extension>

<extension
	point="org.eclipse.ui.propertyPages">
   	<page name="%buildPathPageName"
  	   id="org.eclipse.jdt.ui.propertyPages.BuildPathsPropertyPage"
       objectClass="org.eclipse.core.resources.IProject"
       class="org.eclipse.jdt.internal.ui.preferences.BuildPathsPropertyPage">
       <filter name="nature" value="org.eclipse.jdt.core.javanature"/>
   	</page>
   	<page name="%buildPathPageName"
  	   id="org.eclipse.jdt.ui.propertyPages.BuildPathsPropertyPage"
       objectClass="org.eclipse.jdt.core.IJavaProject"
       class="org.eclipse.jdt.internal.ui.preferences.BuildPathsPropertyPage">
       <filter name="nature" value="org.eclipse.jdt.core.javanature"/>
   	</page>
   	<page name="%sourceAttachmentPageName"
		id="org.eclipse.jdt.ui.propertyPages.SourceAttachmentPage1" 
		objectClass="org.eclipse.jdt.core.IPackageFragmentRoot"
		class="org.eclipse.jdt.internal.ui.preferences.SourceAttachmentPropertyPage">
    </page>  
  	<page name="%sourceAttachmentPageName" 
		id="org.eclipse.jdt.ui.propertyPages.SourceAttachmentPage2" 
		objectClass="org.eclipse.core.resources.IFile"
		class="org.eclipse.jdt.internal.ui.preferences.SourceAttachmentPropertyPage"
		nameFilter="*.jar">
    </page>  
  	<page name="%infoPageName"
		id="org.eclipse.jdt.ui.propertyPages.InfoPage" 
		objectClass="org.eclipse.jdt.core.IJavaElement"
		class="org.eclipse.jdt.internal.ui.preferences.JavaElementInfoPage">
    </page>  
   	<page name="%referencePageName"
  	   id="org.eclipse.jdt.ui.propertypages.projectreference"
           objectClass="org.eclipse.jdt.core.IJavaProject"
           class="org.eclipse.ui.internal.dialogs.ProjectReferencePage">
   	</page>
</extension>

<extension
    point = "org.eclipse.ui.elementFactories">
    <factory id ="org.eclipse.jdt.ui.ClassFileEditorInputFactory"
      class="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditorInputFactory">
	</factory>
    <factory id ="org.eclipse.jdt.ui.PersistableJavaElementFactory"
      class="org.eclipse.jdt.internal.ui.PersistableJavaElementFactory">
	</factory>
</extension>

<extension
    point= "org.eclipse.ui.editors"
    id= "org.eclipse.jdt.ui.javaeditor">
   
   <editor
      id="org.eclipse.jdt.ui.CompilationUnitEditor"
      icon="icons/full/obj16/jcu_obj.gif"
      name="%JavaEditor.label"
      extensions="java"
      class="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditor"
      contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor">
   </editor>
   
   <editor
      id ="org.eclipse.jdt.ui.ClassFileEditor"
      icon="icons/full/obj16/classf_obj.gif"
      name="%classFileViewerName"
      extensions="class"
      class="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditor"
      contributorClass="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditorActionContributor">
   </editor>
   
   <editor id ="org.eclipse.jdt.ui.DefaultTextEditor"
      icon="icons/full/obj16/file_obj.gif"
      name="%propertiesFileEditorName"
      extensions="properties"
      class="org.eclipse.ui.editors.text.TextEditor"
      contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">     
    </editor>

   <editor id ="org.eclipse.jdt.ui.JARDescEditor"
      icon="icons/full/obj16/jar_desc_obj.gif"
      name="%jarDescEditorName"
      extensions="jardesc"
      class="org.eclipse.ui.editors.text.TextEditor"
      contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">     
    </editor>

</extension>

<extension
	point= "org.eclipse.ui.markerUpdaters">
	<updater id="org.eclipse.jdt.ui.markerUpdaters.JavaSearchMarkerUpdater"
		class="org.eclipse.jdt.internal.ui.search.JavaSearchMarkerUpdater"
		markerType="org.eclipse.search.searchmarker">
	</updater>
</extension>

<extension
	point="org.eclipse.ui.preferencePages">
	<page name="%javaPrefName"
		id="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%organizeImportsPrefName"
		id="org.eclipse.jdt.ui.preferences.ImportOrganizePreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.ImportOrganizePreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
	<page name="%codeFormatterPrefName"
		id="org.eclipse.jdt.ui.preferences.CodeFormatterPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.CodeFormatterPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%classPathVarPrefName"
		id="org.eclipse.jdt.ui.preferences.ClasspathVariablesPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.ClasspathVariablesPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
	<page name="%editorPrefName"
		id="org.eclipse.jdt.ui.preferences.JavaEditorPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.JavaEditorPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%compilerOptionsPrefName"
		id="org.eclipse.jdt.ui.preferences.CompilerPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.CompilerPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
	<page name="%templatePageName"
		id = "org.eclipse.jdt.ui.preferences.TemplatePreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.TemplatePreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%workInProgressPageName"
		id = "org.eclipse.jdt.ui.preferences.WorkInProgressPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.WorkInProgressPreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%codeGenerationPreferencePageName"
		id = "org.eclipse.jdt.ui.preferences.CodeGenerationPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.CodeGenerationPreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
</extension>

<extension
	point="org.eclipse.ui.actionSets">
	<actionSet
		id="org.eclipse.jdt.ui.JavaActionSet"
        label="%JavaActionSet.label"
		visible="false"
		description="%JavaActionSet.description">
		<action id="org.eclipse.jdt.ui.actions.OpenType"
			menubarPath="workbench/wbEnd"
			toolbarPath="Normal/Java"			
			label="%OpenTypeAction.label"
			tooltip="%OpenTypeAction.tooltip"
			icon="icons/full/ctool16/opentype.gif"
			class="org.eclipse.jdt.internal.ui.actions.OpenTypeAction"/>
		<action id="org.eclipse.jdt.ui.actions.OpenSnippetWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenSnippetWizardAction.label"
			tooltip="%OpenSnippetWizardAction.tooltip"
			icon="icons/full/ctool16/newsbook_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenSnippetWizardAction"/>			
		<action id="org.eclipse.jdt.ui.actions.OpenInterfaceWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenInterfaceWizardAction.label"
			tooltip="%OpenInterfaceWizardAction.tooltip"
			icon="icons/full/ctool16/newint_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenInterfaceWizardAction"/>
		<action id="org.eclipse.jdt.ui.actions.OpenClassWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenClassWizardAction.label"
			tooltip="%OpenClassWizardAction.tooltip"
			icon="icons/full/ctool16/newclass_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenClassWizardAction"/>
		<action id="org.eclipse.jdt.ui.actions.OpenPackageWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenPackageWizardAction.label"
			tooltip="%OpenPackageWizardAction.tooltip"
			icon="icons/full/ctool16/newpack_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenPackageWizardAction"/>
		<action id="org.eclipse.jdt.ui.actions.OpenProjectWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenProjectWizardAction.label"
			tooltip="%OpenProjectWizardAction.tooltip"
			icon="icons/full/ctool16/newjprj_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenProjectWizardAction"/>
     </actionSet>
</extension>

<extension point="org.eclipse.ui.popupMenus">
	<viewerContribution
		id="org.eclipse.jdt.ui.actions.CopyNamesToClipboardActionContrib"
		targetID="org.eclipse.jdt.ui.PackageExplorer">
		<action
			id="org.eclipse.jdt.ui.actions.CopyNamesToClipboardAction1"
			label="%CopyNamesToClipboardAction.label"
			tooltip="%CopyNamesToClipboardAction.tooltip"
			menubarPath="group.reorganize"
			class="org.eclipse.jdt.internal.ui.actions.CopyNamesToClipboardAction"
			enablesFor="+">
		</action>
	</viewerContribution>
	
	<objectContribution
		id="org.eclipse.jdt.ui.actions.OpenSuperImplementationAction"
		objectClass="org.eclipse.jdt.core.IMethod">
		<action
			id="org.eclipse.jdt.ui.actions.OpenSuperImplementationAction"
			label="%OpenSuperImplementationAction.label"
			tooltip="%OpenSuperImplementationAction.tooltip"
			menubarPath="group.open"
			class="org.eclipse.jdt.internal.ui.actions.OpenSuperImplementationAction"
			enablesFor="1">
		</action>
	</objectContribution>
</extension>

<!-- =========================================================================== -->
<!-- Java Search Page                                                            -->
<!-- =========================================================================== -->
<extension point="org.eclipse.search.searchPages">
   <page id="org.eclipse.jdt.ui.JavaSearchPage"
         icon="icons/full/obj16/jsearch_obj.gif"
         label="%JavaSearchPage.label"
		 sizeHint="460,160"
		 extensions="java:90, jav:90"
		 class="org.eclipse.jdt.internal.ui.search.JavaSearchPage">
   </page>
</extension>

<extension point="org.eclipse.search.searchResultSorters">
	<sorter
		id="org.eclipse.search.internal.ui.ElementNameSorter"
		pageId="org.eclipse.jdt.ui.JavaSearchPage"
		label="%ElementNameSorter.label"
		tooltip="%ElementNameSorter.tooltip"
		icon="icons/full/clcl16/search_sortmatch.gif"
		class="org.eclipse.jdt.internal.ui.search.ElementNameSorter">
	</sorter>
	<sorter
		id="org.eclipse.search.internal.ui.ParentNameSorter"
		pageId="org.eclipse.jdt.ui.JavaSearchPage"
		label="%ParentNameSorter.label"
		tooltip="%ParentNameSorter.tooltip"
		icon="icons/full/clcl16/search_sortmatch.gif"
		class="org.eclipse.jdt.internal.ui.search.ParentNameSorter">
	</sorter>
	<sorter
		id="org.eclipse.search.internal.ui.PathNameSorter"
		pageId="org.eclipse.jdt.ui.JavaSearchPage"
		label="%PathNameSorter.label"
		tooltip="%PathNameSorter.tooltip"
		icon="icons/full/clcl16/search_sortmatch.gif"
		class="org.eclipse.jdt.internal.ui.search.PathNameSorter">
	</sorter>
</extension>

<!-- =========================================================================== -->
<!-- Java Compare                                                                -->
<!-- =========================================================================== -->

<extension
	point="org.eclipse.compare.structureCreators">
	<structureCreator
		extensions="java"
		class="org.eclipse.jdt.internal.ui.compare.JavaStructureCreator">
	</structureCreator>
	<structureCreator
		extensions="jar"
		class="org.eclipse.jdt.internal.ui.compare.JarStructureCreator">
	</structureCreator>
	<structureCreator
		extensions="properties"
		class="org.eclipse.jdt.internal.ui.compare.PropertiesStructureCreator">
	</structureCreator>
</extension>

<extension
	point="org.eclipse.compare.contentViewers">
	<viewer
		extensions="java,java2"
		class="org.eclipse.jdt.internal.ui.compare.JavaTextViewerCreator">
	</viewer>
</extension>

<extension
	point="org.eclipse.compare.contentMergeViewers">
	<viewer
		extensions="java,java2"
		class="org.eclipse.jdt.internal.ui.compare.JavaContentViewerCreator">
	</viewer>
	<viewer
		extensions="properties"
		class="org.eclipse.jdt.internal.ui.compare.TextMergeViewerCreator">
	</viewer>
</extension>

<!-- End Java Compare -->

<!-- =========================================================================== -->
<!-- Refactoring                                                                 -->
<!-- =========================================================================== -->

<extension
	point="org.eclipse.ui.preferencePages">
	<page name="%Refactoring.BasePreferencePage.name"
		id="org.eclipse.jdt.ui.preferences.RefactoringPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.RefactoringPreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
</extension>

<extension
	point="org.eclipse.ui.actionSets">
	<actionSet
		id="org.eclipse.jdt.ui.refactoring.actionSet"
        label="%Refactoring.actionSet.label"
		visible="false"
		description="%Refactoring.actionSet.description">
      	<menu
            id="org.eclipse.jdt.ui.RefactoringMenu"
            label="%Refactoring.menu.label"
            path="edit">
         	<separator name="undoRedoGroup"/>
         	<separator name="reorgGroup"/>
         	<separator name="codingGroup"/>
      	</menu>
		<action id="RedoAction"
			menubarPath="org.eclipse.jdt.ui.RefactoringMenu/undoRedoGroup"
			label="%Refactoring.redoAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.RedoRefactoringAction"/>
		<action id="UndoAction"
			menubarPath="org.eclipse.jdt.ui.RefactoringMenu/undoRedoGroup"
			label="%Refactoring.undoAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.UndoRefactoringAction"/>
		<action id="MoveAction"
			menubarPath="org.eclipse.jdt.ui.RefactoringMenu/reorgGroup"
			label="%Refactoring.moveAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.MoveActionDelegate"/>
		<action id="RenameParametersAction"
			menubarPath="org.eclipse.jdt.ui.RefactoringMenu/reorgGroup"
			label="%Refactoring.renameParametersAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.RenameParametersActionDelegate"/>
		<action id="RenameTempAction"
			menubarPath="org.eclipse.jdt.ui.RefactoringMenu/reorgGroup"
			label="%Refactoring.renameTempAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.RenameTempAction"/>	
		<action id="InlineTempAction"
			menubarPath="org.eclipse.jdt.ui.RefactoringMenu/reorgGroup"
			label="%Refactoring.inlineTempAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.InlineTempAction"/>		
		<action id="RenameAction"
			menubarPath="org.eclipse.jdt.ui.RefactoringMenu/reorgGroup"
			label="%Refactoring.renameAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.RenameActionDelegate"/>
		<action id="SelfEncapsulateFieldAction"
			menubarPath="org.eclipse.jdt.ui.RefactoringMenu/codingGroup"
			label="%Refactoring.selfEncapsulateFieldAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.SelfEncapsulateFieldActionDelegate"/>
		<action id="ExtractMethodAction"
			menubarPath="org.eclipse.jdt.ui.RefactoringMenu/codingGroup"
			label="%Refactoring.extractMethodAction.label"
			class="org.eclipse.jdt.internal.ui.refactoring.actions.ExtractMethodAction"/>
     </actionSet>
</extension>

<!-- End Refactoring -->

<!-- =========================================================================== -->
<!-- Java Launching and debugging                                                -->
<!-- =========================================================================== -->

<extension
	point= "org.eclipse.ui.resourceFilters">
	<filter pattern = "*.class" selected = "false" >
	</filter>
</extension>

<extension
	point= "org.eclipse.jdt.ui.javaElementFilters">
	<filter pattern = ".*" selected = "true">
	</filter>
	<filter pattern = "*$*.class" selected = "false">
	</filter>
</extension>

<!-- =========================================================================== -->
<!-- JAR Packager                                                                -->
<!-- =========================================================================== -->

<extension point="org.eclipse.ui.exportWizards">
	<wizard
	   id="org.eclipse.jdt.internal.ui.jarpackager.JarPackageWizard"
	   name="%jarExportWizard.label"
	   class="org.eclipse.jdt.internal.ui.jarpackager.JarPackageWizard"
	   icon="icons/full/ctool16/exportjar_wiz.gif">
	   <description>%jarExportWizard.description</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
</extension> 

<extension point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="org.eclipse.jdt.internal.ui.jarpackager.RunJarPackager"
		objectClass="org.eclipse.core.resources.IResource"
		nameFilter="*.jardesc">
		<action
			id="CreateJar"
			label="%createJarAction.label"
			tooltip="%createJarAction.tooltip"
			menubarPath="additions"
			enablesFor="+"
			class="org.eclipse.jdt.internal.ui.jarpackager.CreateJarActionDelegate">
		</action>
	</objectContribution>			
	<objectContribution
		id="org.eclipse.jdt.internal.ui.jarpackager.RunJarPackager"
		objectClass="org.eclipse.core.resources.IResource"
		nameFilter="*.jardesc">
		<action
			id="OpenJarPackageWizard"
			label="%openJarPackager.label"
			tooltip="%openJarPackager.tooltip"
			menubarPath="additions"
			enablesFor="1"
			class="org.eclipse.jdt.internal.ui.jarpackager.OpenJarPackageWizardActionDelegate">
		</action>
	</objectContribution>			
</extension>

<!-- =========================================================================== -->
<!-- NLS tool 																	 -->
<!-- =========================================================================== -->

<!-- 'Externalize Strings' Action                                                -->
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         objectClass="org.eclipse.jdt.core.ICompilationUnit"
         id="org.eclipse.jdt.internal.ui.refactoring.nls">
      <action
            label="%NLSexternalizeStringsLabel"
            class="org.eclipse.jdt.internal.ui.refactoring.nls.ExternalizeAction"
            menubarPath="additions"
            enablesFor="1"
            id="ExternalizeStrings">
      </action>
   </objectContribution>
</extension>

<!-- 'Find Strings to Externalize' Action                                        -->
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         objectClass="org.eclipse.jdt.core.IPackageFragment"
         id="org.eclipse.jdt.internal.ui.refactoring.nls">
      <action
            label="%NLSfindStringsLabel"
            class="org.eclipse.jdt.internal.ui.refactoring.nls.FindStringsAction"
            menubarPath="additions"
            enablesFor="+"
            id="FindStrings">
      </action>
   </objectContribution>
</extension>

<!-- Unused Keys Search Page                                                     
 <extension                                                                  
      point="org.eclipse.search.searchPages">  								 
   <page 			                                                         
         tabPosition="2000000000" 											 
         label="%NLSsearchPageLabel" 										 
         icon="icons/full/obj16/nls_search_obj.gif" 						 
         extensions="java:89, properties:90" 								 
         class="org.eclipse.jdt.internal.ui.refactoring.nls.search.NLSSearchPage" 		 
         sizeHint="460,160" 												 
         id="org.eclipse.jdt.ui.refactoring.nls.NLSSearchPage"> 						 
   </page> 																	 
 /extension> 																 -->

</plugin>