<?xml version="1.0" encoding="UTF-8"?>

<plugin
	name="%pluginName"
	id = "org.eclipse.jdt.ui"
	version = "1.0"
	provider-name = "Object Technology International, Inc."
	class="org.eclipse.jdt.internal.ui.JavaPlugin">

<requires> 
  <import plugin="org.eclipse.ui"/>
  <import plugin="org.eclipse.core.resources"/>
  <import plugin="org.eclipse.jdt.core"/>
  <import plugin="org.apache.xerces"/>
  <import plugin="org.eclipse.search"/>
  <import plugin="org.eclipse.debug.core"/>
  <import plugin="org.eclipse.debug.ui"/> 
  <import plugin="org.eclipse.jdt.debug"/>
  <import plugin="org.eclipse.jdt.launching"/>
  <import plugin="org.eclipse.compare"/>
</requires>

<runtime>
  <library name="jdt.jar">  
     <export name = "*"/>
  </library> 
</runtime>

<extension-point name="%elementFiltersName" id="javaElementFilters"/>

<extension 
	point="org.eclipse.ui.perspectives">
	<perspective
		id="org.eclipse.jdt.ui.JavaPerspective"
		name="%perspectiveName"
		icon="icons/full/cview16/jperspective.gif"
		class="org.eclipse.jdt.internal.ui.JavaPerspectiveFactory">
	</perspective>
	<perspective
		id="org.eclipse.jdt.ui.JavaHierarchyPerspective"
		name="%typeHierarchyName"
		icon="icons/full/cview16/hierch_persp.gif"
		class="org.eclipse.jdt.internal.ui.JavaHierarchyPerspectiveFactory">
	</perspective>
</extension>

<extension point="org.eclipse.ui.perspectiveExtensions">
	<perspectiveExtension 
		targetID="org.eclipse.ui.resourcePerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaPerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.jdt.ui.JavaPerspective">
		<perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<perspectiveShortcut id="org.eclipse.vcm.ui.vcmPerspective" /> 
		</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.debug.ui.DebugPerspective">
		<perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
	</perspectiveExtension>
	<perspectiveExtension 
		targetID="org.eclipse.debug.ui.DebugPerspective">
		<actionSet id="org.eclipse.jdt.ui.JavaActionSet"/>
	</perspectiveExtension>
    <perspectiveExtension 
    	targetID="org.eclipse.debug.ui.DebugPerspective"> 
    	<view id="org.eclipse.jdt.debug.ui.DisplayView" 
        	relative="org.eclipse.debug.ui.InspectorView" 
    		relationship="stack"/> 
     </perspectiveExtension> 
</extension>

<extension point="org.eclipse.ui.projectNatureImages">
	<image
		id="org.eclipse.ui.javaProjectNatureImage"
		natureId="org.eclipse.jdt.core.javanature"
	        icon="icons/full/ovr16/java_ovr.gif">
	</image>
</extension>

<extension 
	point="org.eclipse.ui.views">
	<category 
		id="org.eclipse.jdt.ui.java"
		name="%viewCategoryName">
	</category>
	<view
		id="org.eclipse.jdt.ui.PackageExplorer"
		name="%packagesViewName"
		icon="icons/full/cview16/package.gif"
		category="org.eclipse.jdt.ui.java"
		class="org.eclipse.jdt.internal.ui.packageview.PackageExplorerPart">
	</view>
	<view
		id="org.eclipse.jdt.ui.TypeHierarchy"
		name="%hierarchyViewName"
		category="org.eclipse.jdt.ui.java"
	   	icon="icons/full/cview16/class_hi.gif"
		class="org.eclipse.jdt.internal.ui.typehierarchy.TypeHierarchyViewPart">
	</view>
	<view
		id="org.eclipse.jdt.debug.ui.DisplayView"
		name="%displayViewName"
		category="org.eclipse.debug.ui"
	   	icon="icons/full/ctool16/disp_sbook.gif"
	   	class="org.eclipse.jdt.internal.debug.ui.display.DisplayView">
	</view>
</extension>


<extension 
	point="org.eclipse.ui.newWizards">
	<category
	   id="org.eclipse.jdt.ui.java"
	   name="%newWizardCategoryName">
	</category>
	<wizard 
		id="org.eclipse.jdt.ui.wizards.NewProjectCreationWizard"
		name="%NewJavaProject.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewProjectCreationWizard"
		category="org.eclipse.jdt.ui.java"
		project="true"
		finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
		icon="icons/full/ctool16/newjprj_wiz.gif">
		<description>%NewJavaProject.description</description>
    </wizard>	
	<wizard
		id="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard"
		name="%NewJavaPackage.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewPackageCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newpack_wiz.gif">
		<description>%NewJavaPackage.description</description>
	</wizard>	
	<wizard
		id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard"
		name="%NewJavaClass.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewClassCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newclass_wiz.gif">
		<description>%NewJavaClass.description</description>
	</wizard>
	<wizard 
		id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard"
		name="%NewJavaInterface.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewInterfaceCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newint_wiz.gif">
		<description>%NewJavaInterface.description</description>
	</wizard>
	<wizard
		id="org.eclipse.jdt.ui.wizards.NewSnippetCreationWizard"
		name="%NewJavaScrapbookPage.label"
		class="org.eclipse.jdt.internal.ui.wizards.NewSnippetCreationWizard"
		category="org.eclipse.jdt.ui.java"
		icon="icons/full/ctool16/newsbook_wiz.gif">
		<description>%NewJavaScrapbookPage.description</description>
	</wizard>	    
  
</extension>

<extension
	point="org.eclipse.ui.propertyPages">
   	<page name="%buildPathPageName"
  	   id="org.eclipse.jdt.ui.propertyPages.BuildPathsPropertyPage"
       objectClass="org.eclipse.core.resources.IProject"
       class="org.eclipse.jdt.internal.ui.preferences.BuildPathsPropertyPage">
       <filter name="nature" value="org.eclipse.jdt.core.javanature"/>
   	</page>
   	<page name="%buildPathPageName"
  	   id="org.eclipse.jdt.ui.propertyPages.BuildPathsPropertyPage"
       objectClass="org.eclipse.jdt.core.IJavaProject"
       class="org.eclipse.jdt.internal.ui.preferences.BuildPathsPropertyPage">
       <filter name="nature" value="org.eclipse.jdt.core.javanature"/>
   	</page>
   	<page name="%sourceAttachmentPageName"
		id="org.eclipse.jdt.ui.propertyPages.SourceAttachmentPage1" 
		objectClass="org.eclipse.jdt.core.IPackageFragmentRoot"
		class="org.eclipse.jdt.internal.ui.preferences.SourceAttachmentPropertyPage">
    </page>  
  	<page name="%sourceAttachmentPageName" 
		id="org.eclipse.jdt.ui.propertyPages.SourceAttachmentPage2" 
		objectClass="org.eclipse.core.resources.IFile"
		class="org.eclipse.jdt.internal.ui.preferences.SourceAttachmentPropertyPage"
		nameFilter="*.jar">
    </page>  
  	<page name="%infoPageName"
		id="org.eclipse.jdt.ui.propertyPages.InfoPage" 
		objectClass="org.eclipse.jdt.core.IJavaElement"
		class="org.eclipse.jdt.internal.ui.preferences.JavaElementInfoPage">
    </page>  
   	<page name="%referencePageName"
  	   id="org.eclipse.jdt.ui.propertypages.projectreference"
           objectClass="org.eclipse.jdt.core.IJavaProject"
           class="org.eclipse.ui.internal.dialogs.ProjectReferencePage">
   	</page>
</extension>

<extension
    point = "org.eclipse.ui.elementFactories">
    <factory id ="org.eclipse.jdt.ui.ClassFileEditorInputFactory"
      class="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditorInputFactory">
	</factory>
    <factory id ="org.eclipse.jdt.ui.PersistableJavaElementFactory"
      class="org.eclipse.jdt.internal.ui.PersistableJavaElementFactory">
	</factory>
</extension>

<extension
    point= "org.eclipse.ui.editors"
    id= "org.eclipse.jdt.ui.javaeditor">
   
   <editor
      id="org.eclipse.jdt.ui.CompilationUnitEditor"
      icon="icons/full/obj16/jcu_obj.gif"
      name="%JavaEditor.label"
      extensions="java"
      class="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditor"
      contributorClass="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditorActionContributor">
   </editor>
   
   <editor
      id ="org.eclipse.jdt.ui.ClassFileEditor"
      icon="icons/full/obj16/classf_obj.gif"
      name="%classFileViewerName"
      extensions="class"
      class="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditor"
      contributorClass="org.eclipse.jdt.internal.ui.javaeditor.ClassFileEditorActionContributor">
   </editor>
   
   <editor
      id="org.eclipse.jdt.ui.SnippetEditor"
      icon="icons/full/obj16/jsbook_obj.gif"
      name="%JavaSnippetEditor.label"
      extensions="jpage"
      class="org.eclipse.jdt.internal.ui.snippeteditor.JavaSnippetEditor"
      contributorClass="org.eclipse.jdt.internal.ui.snippeteditor.SnippetEditorActionContributor">
   </editor>
   
   <editor id ="org.eclipse.jdt.ui.DefaultTextEditor"
      icon="icons/full/obj16/file_obj.gif"
      name="%propertiesFileEditorName"
      extensions="properties"
      class="org.eclipse.ui.editors.text.TextEditor"
      contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">     
    </editor>

   <editor id ="org.eclipse.jdt.ui.DefaultTextEditor"
      icon="icons/full/obj16/jar_desc_obj.gif"
      name="%jarDescEditorName"
      extensions="jardesc"
      class="org.eclipse.ui.editors.text.TextEditor"
      contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">     
    </editor>

</extension>

<extension
	point= "org.eclipse.ui.markerUpdaters">
	<updater id="org.eclipse.jdt.ui.markerUpdaters.JavaSearchMarkerUpdater"
		class="org.eclipse.jdt.internal.ui.search.JavaSearchMarkerUpdater"
		markerType="org.eclipse.search.searchmarker">
	</updater>
</extension>

<extension
	point="org.eclipse.ui.preferencePages">
	<page name="%javaPrefName"
		id="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%organizeImportsPrefName"
		id="org.eclipse.jdt.ui.preferences.ImportOrganizePreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.ImportOrganizePreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
	<page name="%codeFormatterPrefName"
		id="org.eclipse.jdt.ui.preferences.CodeFormatterPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.CodeFormatterPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
	<page name="%classPathVarPrefName"
		id="org.eclipse.jdt.ui.preferences.ClasspathVariablesPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.ClasspathVariablesPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
	<page name= "%editorPrefName"
		id="org.eclipse.jdt.ui.preferences.JavaEditorPreferencePage"
		class="org.eclipse.jdt.internal.ui.preferences.JavaEditorPreferencePage"
		category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
</extension>

<extension
	point="org.eclipse.ui.actionSets">
	<actionSet
		id="org.eclipse.jdt.ui.JavaActionSet"
        label="%JavaActionSet.label"
		visible="false"
		description="%JavaActionSet.description">
		<action id="org.eclipse.jdt.ui.actions.OpenType"
			menubarPath="workbench/wbEnd"
			toolbarPath="Normal/Java"			
			label="%OpenTypeAction.label"
			tooltip="%OpenTypeAction.tooltip"
			icon="icons/full/ctool16/opentype.gif"
			class="org.eclipse.jdt.internal.ui.actions.OpenTypeAction"/>
		<action id="org.eclipse.jdt.ui.actions.OpenSnippetWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenSnippetWizardAction.label"
			tooltip="%OpenSnippetWizardAction.tooltip"
			icon="icons/full/ctool16/newsbook_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenSnippetWizardAction"/>			
		<action id="org.eclipse.jdt.ui.actions.OpenInterfaceWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenInterfaceWizardAction.label"
			tooltip="%OpenInterfaceWizardAction.tooltip"
			icon="icons/full/ctool16/newint_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenInterfaceWizardAction"/>
		<action id="org.eclipse.jdt.ui.actions.OpenClassWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenClassWizardAction.label"
			tooltip="%OpenClassWizardAction.tooltip"
			icon="icons/full/ctool16/newclass_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenClassWizardAction"/>
		<action id="org.eclipse.jdt.ui.actions.OpenPackageWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenPackageWizardAction.label"
			tooltip="%OpenPackageWizardAction.tooltip"
			icon="icons/full/ctool16/newpack_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenPackageWizardAction"/>
		<action id="org.eclipse.jdt.ui.actions.OpenProjectWizard"	
			toolbarPath="Normal/JavaWizards"			
			label="%OpenProjectWizardAction.label"
			tooltip="%OpenProjectWizardAction.tooltip"
			icon="icons/full/ctool16/newjprj_wiz.gif"
			class="org.eclipse.jdt.internal.ui.wizards.OpenProjectWizardAction"/>
     </actionSet>
</extension>

<!-- =========================================================================== -->
<!-- Java Search Page                                                            -->
<!-- =========================================================================== -->
<extension point="org.eclipse.search.searchPages">
   <page id="org.eclipse.jdt.ui.JavaSearchPage"
         icon="icons/full/obj16/jsearch_obj.gif"
         label="%JavaSearchPage.label"
		 sizeHint="460,160"
		 extensions="java:90, jav:90"
		 class="org.eclipse.jdt.internal.ui.search.JavaSearchPage">
   </page>
</extension>

<!-- =========================================================================== -->
<!-- Java Compare                                                                -->
<!-- =========================================================================== -->

<extension
	point="org.eclipse.ui.popupMenus">

	<objectContribution
		id="org.eclipse.jdt.ui.compare.JavaElementContributions"
		objectClass="org.eclipse.jdt.core.IJavaElement">
		<menu
			id="compareWithMenu"
			path="additions"
			label="%CompareWithMenu.label">
			<separator name="compareWithGroup"/>
		</menu>
		<action
			id="org.eclipse.jdt.ui.actions.CompareWithEachOther"
			label="%CompareWithEachOtherAction.label"
			tooltip="%CompareWithEachOtherAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="2+"
			class="org.eclipse.compare.internal.CompareAction">
		</action>
	</objectContribution>
	
	<objectContribution
		id="org.eclipse.jdt.ui.compare.CompilationUnitContributions"
		objectClass="org.eclipse.jdt.core.ICompilationUnit">
		<menu
			id="replaceWithMenu"
			path="additions"
			label="%ReplaceWithMenu.label">
			<separator name="replaceWithGroup"/>
		</menu>
		<action
			id="org.eclipse.jdt.ui.actions.ReplaceFromHistory"
			label="%ReplaceFromHistoryAction.label"
			tooltip="%ReplaceFromHistoryAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			enablesFor="1"
			class="org.eclipse.compare.internal.ReplaceWithEditionAction">
		</action>
		<action
			id="compareWithHistory"
			label="%CompareWithHistoryAction.label"
			tooltip="%CompareWithHistoryAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.compare.internal.CompareWithEditionAction">
		</action>
	</objectContribution>
</extension>

<extension
	point="org.eclipse.compare.structureCreators">
	<structureCreator
		extensions="java"
		class="org.eclipse.jdt.internal.ui.compare.JavaStructureCreator">
	</structureCreator>
	<structureCreator
		extensions="jar"
		class="org.eclipse.jdt.internal.ui.compare.JarStructureCreator">
	</structureCreator>
	<structureCreator
		extensions="properties"
		class="org.eclipse.jdt.internal.ui.compare.PropertiesStructureCreator">
	</structureCreator>
</extension>

<extension
	point="org.eclipse.compare.contentViewers">
	<viewer
		extensions="java,java2"
		class="org.eclipse.jdt.internal.ui.compare.JavaTextViewerCreator">
	</viewer>
</extension>

<extension
	point="org.eclipse.compare.contentMergeViewers">
	<viewer
		extensions="java,java2"
		class="org.eclipse.jdt.internal.ui.compare.JavaContentViewerCreator">
	</viewer>
	<viewer
		extensions="properties"
		class="org.eclipse.jdt.internal.ui.compare.TextMergeViewerCreator">
	</viewer>
</extension>

<!-- End Java Compare -->

<!-- =========================================================================== -->
<!-- Refactoring                                                                 -->
<!-- =========================================================================== -->

<extension
	point="org.eclipse.ui.preferencePages">
	<page name="%Refactoring.BasePreferencePage.name"
		id="org.eclipse.jdt.ui.preferences.RefactoringPreferencePage"
		class="org.eclipse.jdt.internal.ui.refactoring.RefactoringPreferencePage"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>	
</extension>

<!-- End Refactoring -->


<!-- =========================================================================== -->
<!-- Java Launching and debugging                                                -->
<!-- =========================================================================== -->

<extension point = "org.eclipse.debug.core.launchers">
	<launcher
	    id="org.eclipse.jdt.ui.launcher.JavaApplicationLauncher"
	   	class="org.eclipse.jdt.internal.ui.launcher.JavaApplicationLauncher"
	  	modes="run, debug"
	  	labelProvider="org.eclipse.jdt.internal.ui.launcher.LauncherLabelProvider"
		description="%launcher.description"
	  	wizard="org.eclipse.jdt.internal.debug.ui.JavaApplicationWizard"
 	  	label= "%launcher.label"/>
   <launcher
		id="org.eclipse.jdt.ui.launcher.JDIAttachLauncher"
		class="org.eclipse.jdt.internal.debug.ui.JDIAttachLauncher"
		label="%remoteLauncher.label"
		description="%remoteLauncher.description"
		wizard="org.eclipse.jdt.internal.debug.ui.JDIAttachLauncherWizard"
   		modes="debug" />
   	<launcher
		id="org.eclipse.jdt.ui.launcher.ScrapbookLauncher"
		class="org.eclipse.jdt.internal.ui.snippeteditor.ScrapbookLauncher"
		label="%scrapbookLauncher.label"
		public="false"
   		modes="debug" />
</extension>	

<extension point = "org.eclipse.jdt.launching.vmInstallTypes">
	<vmInstallType
	   	class="org.eclipse.jdt.internal.ui.launcher.StandardVMType"
	    id="org.eclipse.jdt.internal.ui.launcher.StandardVMType"/>
</extension>

<extension
	point="org.eclipse.ui.propertyPages">
	<page
		id="org.eclipse.jdt.ui.propertyPages.VMPropertyPage" 
		name="%vmPageName"
		objectClass="org.eclipse.jdt.core.IJavaProject"
		class="org.eclipse.jdt.internal.ui.launcher.VMPropertyPage">
    </page>
	<page
		id="org.eclipse.jdt.ui.propertyPages.VMPropertyPage" 
		name="%vmPageName"
		objectClass="org.eclipse.core.resources.IProject"
		class="org.eclipse.jdt.internal.ui.launcher.VMPropertyPage">
		<filter name="nature" value="org.eclipse.jdt.core.javanature"/>
    </page>
</extension>

<extension
	point="org.eclipse.ui.propertyPages">
	<page
		id="org.eclipse.jdt.ui.propertyPages.ExecutionArgsPage" 
		name="%execArgPageName"
		objectClass="org.eclipse.jdt.core.api.IType"
		class="org.eclipse.jdt.internal.ui.launcher.ExecutionArgsPropertyPage">
    </page>
	<page
		id="org.eclipse.jdt.ui.propertyPages.ExecutionArgsPage" 
		name="%execArgPageName"
		objectClass="org.eclipse.jdt.core.ICompilationUnit"
		class="org.eclipse.jdt.internal.ui.launcher.ExecutionArgsPropertyPage">
    </page>
	<page
		id="org.eclipse.jdt.ui.propertyPages.ExecutionArgsPage" 
		name="%execArgPageName"
		objectClass="org.eclipse.jdt.core.IClassFile"
		class="org.eclipse.jdt.internal.ui.launcher.ExecutionArgsPropertyPage">
    </page>
	<page
		id="org.eclipse.jdt.ui.propertyPages.ExecutionArgsPage" 
		name="%execArgPageName"
		objectClass="org.eclipse.core.resources.IFile"
		class="org.eclipse.jdt.internal.ui.launcher.ExecutionArgsPropertyPage"
        nameFilter="*.java"> 
    </page>
	<page
		id="org.eclipse.jdt.ui.launching.SourceLookupPage" 
		name="%debugSourcePageName"
		objectClass="org.eclipse.core.resources.IProject"
		class="org.eclipse.jdt.internal.ui.launcher.SourceLookupPropertyPage"> 
		<filter name="nature" value="org.eclipse.jdt.core.javanature"/>
    </page>
	<page
		id="org.eclipse.jdt.ui.launching.SourceLookupPage" 
		name="%debugSourcePageName"
		objectClass="org.eclipse.jdt.core.IJavaProject"
		class="org.eclipse.jdt.internal.ui.launcher.SourceLookupPropertyPage"> 
    </page>
	<page
		id="org.eclipse.jdt.ui.launching.ProcessPage" 
		name="%processInfoPageName"
		objectClass="org.eclipse.debug.core.model.IProcess"
		class="org.eclipse.jdt.internal.ui.launcher.ProcessPropertyPage"> 
    </page>
	<page
		id="org.eclipse.jdt.ui.launching.ProcessPage" 
		name="%processInfoPageName"
		objectClass="org.eclipse.debug.core.model.IDebugTarget"
		class="org.eclipse.jdt.internal.ui.launcher.ProcessPropertyPage"> 
    </page>
</extension>

<extension point = "org.eclipse.ui.preferencePages">
	<page
		id = "org.eclipse.jdt.ui.preferences.VMPreferencePage"
		class="org.eclipse.jdt.internal.ui.launcher.VMPreferencePage"
		name= "%installJREPageName"
		category= "org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
	</page>
</extension>

<extension point="org.eclipse.ui.viewActions">
	<viewContribution
		id="org.eclipse.jdt.ui.debug.VariableViewActions"
		targetID="org.eclipse.debug.ui.VariableView">
		<action id="org.eclipse.jdt.ui.actions.ShowFinalFields"
			label="%showFinalAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/final_co.gif"
			tooltip="showFinalAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.ShowFinalFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.actions.ShowStaticFields"
			label="%showStaticAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/static_co.gif"
			tooltip="%showStaticAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.ShowStaticFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.actions.HexValues"
			label="%hexValueAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/hexad_co.gif"
			tooltip="%hexValueAction.tooltip"
			state="false"
			class="org.eclipse.jdt.internal.debug.ui.HexValuesAction">
		</action>
	</viewContribution>
</extension>
	
<extension point="org.eclipse.ui.viewActions">
	<viewContribution
		id="org.eclipse.jdt.ui.debug.InspectorViewActions"
		targetID="org.eclipse.debug.ui.InspectorView">
		<action id="org.eclipse.jdt.ui.actions.ShowFinalFields"
			label="%showFinalAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/final_co.gif"
			tooltip="%showFinalAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.ShowFinalFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.actions.ShowStaticFields"
			label="%showStaticAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/static_co.gif"
			tooltip="%showStaticAction.tooltip"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.ShowStaticFieldsAction">
		</action>
		<action id="org.eclipse.jdt.ui.actions.HexValues"
			label="%hexValueAction.label"
			toolbarPath="javaVariableFilters"
			icon="icons/full/elcl16/hexad_co.gif"
			tooltip="%hexValueAction.tooltip"
			state="false"
			class="org.eclipse.jdt.internal.debug.ui.HexValuesAction">
		</action>
	</viewContribution>
	<viewContribution
		id="org.eclipse.jdt.ui.BreakpointViewActions"
		targetID="org.eclipse.debug.ui.BreakpointView">
		<action id="org.eclipse.jdt.ui.actions.AddException"
			label="%exceptionAction.label"
			toolbarPath="javaExceptions"
			icon="icons/full/clcl16/exc_catch.gif"
			tooltip="%exceptionAction.tooltip"
			class="org.eclipse.jdt.internal.ui.launcher.AddExceptionAction">
		</action>
	</viewContribution>
</extension>

<extension
	point="org.eclipse.ui.popupMenus">
	
	<objectContribution
		id="org.eclipse.jdt.ui.OpenOnDeclaringTypeActions"
		objectClass="org.eclipse.jdt.internal.debug.core.JDIStackFrame">
		<menu
			id="org.eclipse.jdt.ui.actions.OpenOnMenu"
			path="emptyEditGroup"
			label="%openOnAction.label">
			<separator name="group.openOn"/>
		</menu>
		<action
			id="org.eclipse.jdt.ui.actions.OpenOnDeclaringType"
			label="%openDeclType.label"
			tooltip="%openDeclType.tooltip"
			menubarPath="org.eclipse.jdt.ui.actions.OpenOnMenu/group.openOn"
			class="org.eclipse.jdt.internal.ui.launcher.OpenOnDeclaringTypeAction">
		</action>
	</objectContribution>
	
	<objectContribution
		id="org.eclipse.jdt.ui.OpenOnVariableActions"
		objectClass="org.eclipse.jdt.debug.IJavaVariable">
		<action
			id="org.eclipse.jdt.ui.actions.OpenOnVariableType"
			label="%openDeclVarType.label"
			tooltip="%openDeclVarType.tooltip"
			menubarPath="openOnGroup"
			class="org.eclipse.jdt.internal.ui.launcher.OpenOnVariableAction">
		</action>
	</objectContribution>
	<objectContribution
		id="org.eclipse.jdt.ui.OpenOnReceivingTypeActions"
		objectClass="org.eclipse.jdt.internal.debug.core.JDIStackFrame">
		<action
			id="org.eclipse.jdt.ui.actions.OpenOnReceivingType"
			label="%openRecType.label"
			tooltip="%openRecType.tooltip"
			menubarPath="org.eclipse.jdt.ui.actions.OpenOnMenu/group.openOn"
			class="org.eclipse.jdt.internal.ui.launcher.OpenOnReceivingTypeAction">
		</action>
	</objectContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.BreakpointHitCountActions"
		targetID="org.eclipse.debug.ui.BreakpointView">
		<action
			id="org.eclipse.jdt.ui.actions.BreakpointHitCount"
			label="%hitCount.label"
			tooltip="%hitCount.tooltip"
			menubarPath="emptyBreakpointGroup"
			class="org.eclipse.jdt.internal.debug.ui.BreakpointHitCountAction"
			enablesFor="1">
		</action>
	</viewerContribution>	
	<viewerContribution
		id="org.eclipse.jdt.debug.ExceptionCaughtToggleActions"
		targetID="org.eclipse.debug.ui.BreakpointView">
		<action
			id="org.eclipse.jdt.ui.actions.CaughtToggle"
			label="%caughtAction.label"
			tooltip="%caughtAction.tooltip"
			menubarPath="emptyBreakpointGroup"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.ExceptionCaughtToggleAction"
			enablesFor="+">
		</action>
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.ExceptionUncaughtToggleActions"
		targetID="org.eclipse.debug.ui.BreakpointView">
		<action
			id="org.eclipse.jdt.ui.actions.UncaughtToggle"
			label="%uncaughtAction.label"
			tooltip="%uncaughtAction.tooltip"
			menubarPath="emptyBreakpointGroup"
			state="true"
			class="org.eclipse.jdt.internal.debug.ui.ExceptionUncaughtToggleAction"
			enablesFor="+">
		</action>
	</viewerContribution>
	<viewerContribution
		id="org.eclipse.jdt.debug.DropToFrameActions"
		targetID="org.eclipse.debug.ui.DebugView">
		<action
			id="org.eclipse.jdt.ui.actions.DropToFrame"
			label="%dropFrameAction.label"
			tooltip="%dropFrameAction.tooltip"
			menubarPath="emptyThreadGroup"
			class="org.eclipse.jdt.internal.debug.ui.DropToFrameAction"
			enablesFor="1">
		</action>
	</viewerContribution>	

</extension>

<!--example model presentation -->
<extension point = "org.eclipse.debug.ui.debugModelPresentations"> 
         <debugModelPresentation
             class = "org.eclipse.jdt.internal.debug.ui.JDIModelPresentation"
             id = "org.eclipse.jdt.debug">
          </debugModelPresentation> 
</extension>

<extension
	point= "org.eclipse.ui.resourceFilters">
	<filter pattern = "*.class" selected = "false" >
	</filter>
</extension>

<extension
	point= "org.eclipse.jdt.ui.javaElementFilters">
	<filter pattern = ".*" selected = "true">
	</filter>
	<filter pattern = "*$*.class" selected = "false">
	</filter>
</extension>

<extension id="snippetSupportLineBreakpoint" point="org.eclipse.core.resources.markers">
	<super type="org.eclipse.jdt.debug.javaLineBreakpoint"/>
	<persistent value="false"/>
</extension>	

<!-- =========================================================================== -->
<!-- JAR Packager                                                                -->
<!-- =========================================================================== -->

<extension point="org.eclipse.ui.exportWizards">
	<wizard
	   id="org.eclipse.jdt.internal.ui.jarpackager.JarPackageWizard"
	   name="%jarExportWizard.label"
	   class="org.eclipse.jdt.internal.ui.jarpackager.JarPackageWizard"
	   icon="icons/full/ctool16/exportjar_wiz.gif">
	   <description>%jarExportWizard.description</description>
	   <selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
</extension> 

<extension id="snippetSupportLineBreakpoint" point="org.eclipse.core.resources.markers">
	<super type="org.eclipse.jdt.debug.javaLineBreakpoint"/>
	<persistent value="false"/>
</extension>	

<extension point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="org.eclipse.jdt.internal.ui.jarpackager.RunJarPackager"
		objectClass="org.eclipse.core.resources.IResource"
		nameFilter="*.jardesc">
		<action
			id="CreateJar"
			label="%createJarAction.label"
			tooltip="%createJarAction.tooltip"
			menubarPath="additions"
			enablesFor="+"
			class="org.eclipse.jdt.internal.ui.jarpackager.CreateJarActionDelegate">
		</action>
	</objectContribution>			
	<objectContribution
		id="org.eclipse.jdt.internal.ui.jarpackager.RunJarPackager"
		objectClass="org.eclipse.core.resources.IResource"
		nameFilter="*.jardesc">
		<action
			id="OpenJarPackageWizard"
			label="%openJarPackager.label"
			tooltip="%openJarPackager.tooltip"
			menubarPath="additions"
			enablesFor="1"
			class="org.eclipse.jdt.internal.ui.jarpackager.OpenJarPackageWizardActionDelegate">
		</action>
	</objectContribution>			
</extension>

</plugin>