<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<stringAttribute key="product" value="org.eclipse.platform.ide"/>
<stringAttribute key="bootstrap" value=""/>
<booleanAttribute key="useProduct" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.jdt.text.tests.performance.OpenEditorTest"/>
<booleanAttribute key="default" value="true"/>
<stringAttribute key="vmargs" value="-Xms250M -Xmx250M -Detools_perf_ctrl=testname=OpenEditorTest;log=C:\local\eclipse\perfmsr;driver=3.0-runtime2;driverdate=200407220001;driverstream=3.0.0;driverlabel=I200407220001;uploadhost=eclipseperf.torolab.ibm.com;uploadport=9080;uploaduserid=chm"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="progargs" value="-os win32 -ws win32 -arch x86 -nl en_US"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.jdt.text.tests"/>
<booleanAttribute key="askclear" value="true"/>
<stringAttribute key="location0" value="c:\local\eclipse\workspace\performance-workspace"/>
</launchConfiguration>
