<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- See org.eclipse.jdt.text.tests.performance.ScrollEditorTest.CTRL_DOWN.
        Ctrl+ARROW_DOWN is "Application windows" on Mac OS X. -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.edit.text.scroll.lineDown"
            contextId="org.eclipse.ui.textEditorScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="COMMAND+SHIFT+ALT+CTRL+ARROW_DOWN">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
      <codeMiningProvider
            class="org.eclipse.jdt.text.tests.codemining.CodeMiningTriggerTest$TestCodeMiningProvider"
            id="org.eclipse.jdt.text.tests.codeMiningProvider"
            label="test codemining provider">
         <enabledWhen>
            <test
                  property="org.eclipse.jdt.text.tests.isOn">
            </test>
         </enabledWhen>
      </codeMiningProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.jdt.text.tests.codemining.CodeMiningTriggerTest$TestCodeMiningProviderPropertyTester"
            id="org.eclipse.jdt.text.tests.testCodeMiningProvider"
            namespace="org.eclipse.jdt.text.tests"
            properties="isOn"
            type="java.lang.Object">
      </propertyTester>
   </extension>
	<extension
		point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="LongCompletionProposalComputer">
		<javaCompletionProposalComputer
			class="org.eclipse.jdt.text.tests.contentassist.LongCompletionProposalComputer"
			categoryId="org.eclipse.jdt.ui.javaAllProposalCategory"
			requiresUIThread="false">
			<partition type="__dftl_partition_content_type"/>
			<partition type="__java_string"/>
		</javaCompletionProposalComputer>
	</extension>
</plugin>
