<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<stringAttribute key="product" value="org.eclipse.platform.ide"/>
<booleanAttribute key="clearws" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<booleanAttribute key="useProduct" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.jdt.text.tests.performance.RevertJavaEditorTest"/>
<stringAttribute key="vminstall" value="Sun JDK 1.4.2_04"/>
<booleanAttribute key="tracing" value="false"/>
<stringAttribute key="location1" value="/home/tei/eclipse/workspaces/runtime/open-editor"/>
<stringAttribute key="location2" value="c:\local\eclipse\workspace\performance-workspace"/>
<booleanAttribute key="default" value="true"/>
<stringAttribute key="vmargs" value="-Xms250M -Xmx250M -Detools_perf_ctrl=testname=RevertJavaEditorTest;log=/home/tei/tmp/perfmsr;driver=3.0-runtime2;driverdate=200407220001;driverstream=3.0.0;driverlabel=I200407220001;uploadhost=eclipseperf.torolab.ibm.com;uploadport=9080;uploaduserid=tkilla"/>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="progargs" value="-os linux -ws gtk -arch x86 -nl en_US"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.jdt.text.tests"/>
<booleanAttribute key="askclear" value="true"/>
<stringAttribute key="location0" value="/home/tei/eclipse/workspaces/runtime/open-editor"/>
</launchConfiguration>
