<?xml version="1.0" encoding="UTF-8"?>

<!-- ======================================================================= -->
<!-- This plugin provides basic VCM functionality to the Eclipse Java UI     -->
<!-- ======================================================================= -->
<plugin
	name="%pluginName"
	id = "org.eclipse.jdt.ui.vcm"
	version = "1.0"
	provider-name = "Object Technology International, Inc.">

	<requires>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.ui"/>
		<import plugin="org.eclipse.vcm.core"/>
		<import plugin="org.eclipse.vcm.ui"/>
		<import plugin="org.eclipse.vcm.ui.cvs"/>
		<import plugin="org.eclipse.jdt.ui"/>
		<import plugin="org.eclipse.jdt.core"/>
	</requires> 

<runtime>
  <library name="jdtvcm.jar">  
     <export name = "*"/>
  </library> 
</runtime>

<extension point="org.eclipse.vcm.core.ignore">
	<ignore pattern = "*.class" selected = "true"/>
</extension>

<!-- **************** View Actions ******************* -->
<extension point="org.eclipse.ui.viewActions"> 
	<viewContribution 
		id="org.eclipse.vcm.packageViewContribution" 
		targetID="org.eclipse.jdt.ui.PackageExplorer"> 
		<action id="org.eclipse.vcm.vcminfoinpkg" 
			label="%TogglePackagesViewVersionLabels.label" 
			menubarPath="additions" 
			state="false"
			tooltip="%TogglePackagesViewVersionLabels.tooltip" 
			class="org.eclipse.jdt.ui.vcm.TogglePackageViewVersionLabels">
		</action> 
	</viewContribution> 
</extension> 
   
</plugin>