<?xml version="1.0" encoding="UTF-8"?>

<!-- ======================================================================= -->
<!-- This plugin provides basic VCM functionality to the Eclipse Java UI     -->
<!-- ======================================================================= -->
<plugin
	name="%pluginName"
	id = "org.eclipse.jdt.ui.vcm"
	version = "1.0"
	provider-name = "Object Technology International, Inc.">

	<requires>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.ui"/>
		<import plugin="org.eclipse.vcm.core"/>
		<import plugin="org.eclipse.vcm.ui"/>
		<import plugin="org.eclipse.jdt.ui"/>
		<import plugin="org.eclipse.jdt.core"/>
	</requires>

<runtime>
  <library name="jdtvcm.jar">  
     <export name = "*"/>
  </library> 
</runtime>

<extension point="org.eclipse.vcm.core.ignore">
	<ignore pattern = "*.class" selected = "true"/>
</extension>

<!-- **************** View Actions ******************* -->
<extension point="org.eclipse.ui.viewActions"> 
	<viewContribution 
		id="org.eclipse.vcm.packageViewContribution" 
		targetID="org.eclipse.jdt.ui.PackageExplorer"> 
		<action id="org.eclipse.vcm.vcminfoinpkg" 
			label="%TogglePackagesViewVersionLabels.label" 
			menubarPath="additions" 
			state="false"
			tooltip="%TogglePackagesViewVersionLabels.tooltip" 
			class="org.eclipse.jdt.ui.vcm.TogglePackageViewVersionLabels">
		</action> 
	</viewContribution> 
</extension> 
   
<!-- **************** PROPERTY PAGES ******************* -->
	<extension
		point="org.eclipse.ui.propertyPages">
	   	<page name="%Managing"
	  	   id="org.eclipse.jdt.ui.vcm.propertypages.managing"
	           objectClass="org.eclipse.jdt.core.IJavaElement"
	           class="org.eclipse.vcm.internal.ui.VCMPropertyPage">
	   	</page>
	</extension>

<!-- ************** POPUP ACTIONS ******************* -->

  <extension
     point = "org.eclipse.ui.popupMenus">
	<objectContribution
	   id="org.eclipse.jdt.ui.vcm.JavaElementContributions"
	   objectClass="org.eclipse.jdt.core.IJavaElement">
		<menu
			id="vcm.managing"
			path="additions"
			label="%ManageGroupMenu.label">
			<separator name="manageGroup"/>
		</menu>
	</objectContribution>
	
	<objectContribution
       	   id="org.eclipse.jdt.ui.vcm.ProjectContributions"
           objectClass="org.eclipse.jdt.core.IJavaProject">
		<menu
			id="replaceWithMenu"
			path="additions"
			label="%ReplaceWithMenu.label">
			<separator name="replaceWithGroup"/>
		</menu>

		<action 
			id="org.eclipse.jdt.ui.vcm.Version"
			label="%VersionAction.label"
			tooltip="%VersionAction.tooltip"
			menubarPath="vcm.managing/manageGroup"
			class="org.eclipse.vcm.internal.ui.actions.VersionAction">
		</action>
		
		<action 
			id="org.eclipse.jdt.ui.vcm.MergeStreams"
			label="%MergeAction.label"
			tooltip="%MergeAction.tooltip"
			menubarPath="vcm.managing/manageGroup"
			class="org.eclipse.vcm.internal.ui.merge.MergeAction">
		</action>

		<action
			id="vcm.BrowseHistory"
			label="%BrowseHistoryAction.label"
			tooltip="%BrowseHistoryAction.tooltip"
			menubarPath="vcm.managing/manageGroup"
			class="org.eclipse.vcm.internal.ui.actions.BrowseHistoryAction">
		</action>
		
		<action
			id="vcm.Sync"
			label="%SyncAction.label"
			tooltip="%SyncAction.tooltip"
			menubarPath="vcm.managing/manageGroup"
			class="org.eclipse.vcm.internal.ui.sync.SyncAction">
		</action>

		<action 
			id="ReplaceWithVersion"
			label="%ReplaceWithVersionAction.label"
			tooltip="%ReplaceWithVersionAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			class="org.eclipse.vcm.internal.ui.actions.ReplaceWithVersionAction">
		</action>
		
		<action 
			id="org.eclipse.jdt.ui.vcm.ReplaceWithTeamStream"
			label="%ReplaceWithTeamStreamAction.label"
			tooltip="%ReplaceWithTeamStreamAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			class="org.eclipse.vcm.internal.ui.actions.ReplaceWithTeamStreamAction">
		</action>
		
		<action 
			id="org.eclipse.jdt.ui.vcm.CompareWithVersion"
			label="%CompareWithVersionAction.label"
			tooltip="%CompareWithVersionAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.vcm.internal.ui.actions.CompareWithVersionAction">
		</action>
		
		<action 
			id="org.eclipse.jdt.ui.vcm.CompareWithTeamStream"
			label="%CompareWithTeamStreamAction.label"
			tooltip="%CompareWithTeamStreamAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.vcm.internal.ui.actions.CompareWithTeamStreamAction">
		</action>

	</objectContribution>

	<objectContribution
       	   id="org.eclipse.jdt.ui.vcm.PackageFragmentContributions"
           objectClass="org.eclipse.jdt.core.IPackageFragment">
		<menu
			id="replaceWithMenu"
			path="additions"
			label="%ReplaceWithMenu.label">
			<separator name="replaceWithGroup"/>
		</menu>

		<action
			id="vcm.BrowseHistory"
			label="%BrowseHistoryAction.label"
			tooltip="%BrowseHistoryAction.tooltip"
			menubarPath="vcm.managing/manageGroup"
			class="org.eclipse.vcm.internal.ui.actions.BrowseHistoryAction">
		</action>

		<action
			id="vcm.Sync"
			label="%SyncAction.label"
			tooltip="%SyncAction.tooltip"
			menubarPath="vcm.managing/manageGroup"
			class="org.eclipse.vcm.internal.ui.sync.SyncAction">
		</action>

		<action 
			id="ReplaceWithVersion"
			label="%ReplaceWithVersionAction.label"
			tooltip="%ReplaceWithVersionAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			class="org.eclipse.vcm.internal.ui.actions.ReplaceWithVersionAction">
		</action>

		<action 
			id="org.eclipse.jdt.ui.vcm.ReplaceWithTeamStream"
			label="%ReplaceWithTeamStreamAction.label"
			tooltip="%ReplaceWithTeamStreamAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			class="org.eclipse.vcm.internal.ui.actions.ReplaceWithTeamStreamAction">
		</action>
		
		<action 
			id="org.eclipse.jdt.ui.vcm.CompareWithVersion"
			label="%CompareWithVersionAction.label"
			tooltip="%CompareWithVersionAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.vcm.internal.ui.actions.CompareWithVersionAction">
		</action>
		
		<action 
			id="org.eclipse.jdt.ui.vcm.CompareWithTeamStream"
			label="%CompareWithTeamStreamAction.label"
			tooltip="%CompareWithTeamStreamAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.vcm.internal.ui.actions.CompareWithTeamStreamAction">
		</action>

	</objectContribution>

	<objectContribution
       	   id="org.eclipse.jdt.ui.vcm.PackageFragmentRootContributions"
           objectClass="org.eclipse.jdt.core.IPackageFragmentRoot">
		<menu
			id="replaceWithMenu"
			path="additions"
			label="%ReplaceWithMenu.label">
			<separator name="replaceWithGroup"/>
		</menu>
		<action
			id="vcm.BrowseHistory"
			label="%BrowseHistoryAction.label"
			tooltip="%BrowseHistoryAction.tooltip"
			menubarPath="vcm.managing/manageGroup"
			class="org.eclipse.vcm.internal.ui.actions.BrowseHistoryAction">
		</action>
		
		<action
			id="vcm.Sync"
			label="%SyncAction.label"
			tooltip="%SyncAction.tooltip"
			menubarPath="vcm.managing/manageGroup"
			class="org.eclipse.vcm.internal.ui.sync.SyncAction">
		</action>

		<action 
			id="ReplaceWithVersion"
			label="%ReplaceWithVersionAction.label"
			tooltip="%ReplaceWithVersionAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			class="org.eclipse.vcm.internal.ui.actions.ReplaceWithVersionAction">
		</action>
		
		<action 
			id="org.eclipse.jdt.ui.vcm.ReplaceWithTeamStream"
			label="%ReplaceWithTeamStreamAction.label"
			tooltip="%ReplaceWithTeamStreamAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			class="org.eclipse.vcm.internal.ui.actions.ReplaceWithTeamStreamAction">
		</action>
		
		<action 
			id="org.eclipse.jdt.ui.vcm.CompareWithVersion"
			label="%CompareWithVersionAction.label"
			tooltip="%CompareWithVersionAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.vcm.internal.ui.actions.CompareWithVersionAction">
		</action>

		<action 
			id="org.eclipse.jdt.ui.vcm.CompareWithTeamStream"
			label="%CompareWithTeamStreamAction.label"
			tooltip="%CompareWithTeamStreamAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.vcm.internal.ui.actions.CompareWithTeamStreamAction">
		</action>
		
	</objectContribution>

	<objectContribution
       	   id="org.eclipse.jdt.ui.vcm.CompilationUnitContributions"
           objectClass="org.eclipse.jdt.core.ICompilationUnit">
           
		<action 
			id="org.eclipse.jdt.ui.vcm.element.ReplaceWithBaseVersion"
			label="%ReplaceWithBaseVersionAction.label"
			tooltip="%ReplaceWithBaseVersionAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			class="org.eclipse.vcm.internal.ui.actions.ReplaceWithBaseVersionAction">
		</action>
		
		<action
			id="vcm.BrowseHistory"
			label="%BrowseHistoryAction.label"
			tooltip="%BrowseHistoryAction.tooltip"
			menubarPath="vcm.managing/manageGroup"
			class="org.eclipse.vcm.internal.ui.actions.BrowseHistoryAction">
		</action>
		
		<action
			id="vcm.Sync"
			label="%SyncAction.label"
			tooltip="%SyncAction.tooltip"
			menubarPath="vcm.managing/manageGroup"
			class="org.eclipse.vcm.internal.ui.sync.SyncAction">
		</action>

		<action 
			id="ReplaceWithVersion"
			label="%ReplaceWithVersionAction.label"
			tooltip="%ReplaceWithVersionAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			class="org.eclipse.vcm.internal.ui.actions.ReplaceWithVersionAction">
		</action>

		<action 
			id="org.eclipse.jdt.ui.vcm.ReplaceWithTeamStream"
			label="%ReplaceWithTeamStreamAction.label"
			tooltip="%ReplaceWithTeamStreamAction.tooltip"
			menubarPath="replaceWithMenu/replaceWithGroup"
			class="org.eclipse.vcm.internal.ui.actions.ReplaceWithTeamStreamAction">
		</action>

		<action 
			id="org.eclipse.jdt.ui.vcm.element.CompareWithBaseVersion"
			label="%CompareWithBaseVersionAction.label"
			tooltip="%CompareWithBaseVersionAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.vcm.internal.ui.actions.CompareWithBaseVersionAction">
		</action>

		<action 
			id="org.eclipse.jdt.ui.vcm.CompareWithVersion"
			label="%CompareWithVersionAction.label"
			tooltip="%CompareWithVersionAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.vcm.internal.ui.actions.CompareWithVersionAction">
		</action>

		<action 
			id="org.eclipse.jdt.ui.vcm.CompareWithTeamStream"
			label="%CompareWithTeamStreamAction.label"
			tooltip="%CompareWithTeamStreamAction.tooltip"
			menubarPath="compareWithMenu/compareWithGroup"
			enablesFor="1"
			class="org.eclipse.vcm.internal.ui.actions.CompareWithTeamStreamAction">
		</action>

	</objectContribution>
  </extension> 
</plugin>