<?xml version="1.0" encoding="UTF-8"?>

<plugin
   name="Java Test Plugin"
   id="org.eclipse.jdt.ui.tests"
   version="2.1.1"
   provider-name = "Eclipse.org"
   class="org.eclipse.jdt.testplugin.JavaTestPlugin">
   
   <requires>
	  <import plugin="org.junit"/>   
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
	  <import plugin="org.eclipse.jdt.launching"/>
	  <import plugin="org.eclipse.test.performance"/>
   </requires>

<runtime>
  <library name="javauitests.jar" >
     <export name = "*"/>
  </library> 
</runtime>

<!-- **************** TEST DECORATOR ******************* -->
	<extension point="org.eclipse.ui.decorators"> 
        <decorator 
             id="org.eclipse.jdt.ui.tests.javaElementDecorator"
             label="Java Element Decorator" 
             state="false" 
	         class="org.eclipse.jdt.testplugin.JavaElementDecorator"
             objectClass="org.eclipse.jdt.core.IJavaElement"
             adaptable="true">
         </decorator> 
	</extension>    
	
<extension 
	point="org.eclipse.ui.views">
	<view
		id="org.eclipse.jdt.ui.tests.packageview.MockPluginView"
		name="MochPluginView"
		category="org.eclipse.jdt.ui.java.packageview"
		class="org.eclipse.jdt.ui.tests.packageview.MockPluginView"
		icon="icons/full/cview16/packages.gif">
	</view>
	<view
		id="org.eclipse.jdt.ui.tests.browsing.MockPluginView"
		name="MockPluginView"
		category="org.eclipse.jdt.ui.java.packageview"
		class="org.eclipse.jdt.ui.tests.browsing.MockPluginView"
		icon="icons/full/cview16/packages.gif">
	</view>
</extension>


<!-- **************** TEST MARKER for quick fix ******************* -->

<extension id="testmarker" point="org.eclipse.core.resources.markers" name="jdt-test-problem">
	<super type="org.eclipse.core.resources.textmarker"/>
</extension>
<extension point="org.eclipse.ui.markerResolution"> 
   <markerResolutionGenerator 
      class="org.eclipse.jdt.ui.tests.quickfix.MarkerResolutionGenerator" 
      markerType="org.eclipse.jdt.ui.tests.testmarker"> 
   </markerResolutionGenerator> 
</extension> 

<extension point="org.eclipse.ui.popupMenus">
	<objectContribution
		id="org.eclipse.jdt.ui.examples.AddTestMarkersAction"
		objectClass="org.eclipse.jdt.core.ICompilationUnit">
		<action
			id="addTestmarkers"
			label="Add Test Markers"
			tooltip="Add Test Markers"
			menubarPath="Add Test Markers"
			enablesFor="1"
			class="org.eclipse.jdt.ui.examples.AddTestMarkersAction">
		</action>
	</objectContribution>
</extension> 

</plugin>


