<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    
<!-- **************** TEST DECORATOR ******************* -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            label="%TestLabelDecorator.label"
            state="false"
            class="org.eclipse.jdt.ui.examples.JavaElementDecorator"
            id="org.eclipse.jdt.ui.examples.javaElementDecorator">
            <enablement>
                <objectClass name="org.eclipse.jdt.core.IJavaElement"/> 
            </enablement>
            <description>
               Appends an asterisk (*) to all IJavaElements.
            </description>
      </decorator>
      
      <decorator
		label="%TestLightweightLabelDecorator.label"
		lightweight="true"
		location="BOTTOM_LEFT"		
		state="true"
		class="org.eclipse.jdt.ui.examples.JavaElementLightweightDecorator"
		id="org.eclipse.jdt.ui.examples.javaElementLightweightDecorator">
		<enablement>
			<or>
				<objectClass
					name="org.eclipse.core.resources.IResource">
				</objectClass>         
				<objectClass
					name="org.eclipse.jdt.core.IJavaElement">
				</objectClass>
			</or>                
		</enablement>
		<description>
			Renders files with open FileBuffers bold.
		</description>
	  </decorator>	
      
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="MochPluginView"
            class="org.eclipse.jdt.ui.tests.packageview.MockPluginView"
            id="org.eclipse.jdt.ui.tests.packageview.MockPluginView">
      </view>
      <view
            name="MockPluginView"
            class="org.eclipse.jdt.ui.tests.browsing.MockPluginView"
            id="org.eclipse.jdt.ui.tests.browsing.MockPluginView">
      </view>
      <view
            name="MockPluginView"
            class="org.eclipse.jdt.ui.tests.model.MockPluginView"
            id="org.eclipse.jdt.ui.tests.model.MockPluginView">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.jdt.ui.tests.performance.views.MockupPackageExplorerPart"
            id="org.eclipse.jdt.ui.tests.MockPackageExplorer"
            name="Package Explorer Mock View"/>
   </extension>
<!-- **************** TEST MARKER for quick fix ******************* -->
   <extension
         id="testmarker"
         name="jdt-test-problem"
         point="org.eclipse.core.resources.markers">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
     <type
         name="org.eclipse.jdt.ui.testproblem"
         super="org.eclipse.ui.workbench.texteditor.error"
         markerType="org.eclipse.jdt.ui.tests.testmarker"
         markerSeverity="2">
     </type>
   </extension>

   <extension point="org.eclipse.ui.ide.markerSupport">      
      <markerAttributeGrouping markerType="org.eclipse.jdt.ui.tests.testmarker"
        defaultGroupingEntry="org.eclipse.jdt.ui.category.nls"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="org.eclipse.jdt.ui.tests.testmarker"
            class="org.eclipse.jdt.ui.tests.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            id="org.eclipse.jdt.ui.examples.AddTestMarkersAction">
         <action
               label="%AddTestMarkersAction.label"
               tooltip="%AddTestMarkersAction.tooltip"
               class="org.eclipse.jdt.ui.examples.AddTestMarkersAction"
               menubarPath="AddTestMarkers"
               enablesFor="1"
               id="addTestmarkers">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            name="%exampleQuickFixProcessor.name"
            class="org.eclipse.jdt.ui.examples.MyQuickFixProcessor"
            requiredSourceLevel="1.5"
            id="org.eclipse.jdt.ui.examples.MyQuickFixProcessor">
         <enablement>
	           <with variable="compilationUnit">
	              <test property="org.eclipse.jdt.core.name" value="A.java"/>
	           </with>  
         </enablement>

      </quickFixProcessor>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            name="%exampleQuickAssistProcessor.name"
            class="org.eclipse.jdt.ui.examples.MyQuickAssistProcessor"
            id="org.eclipse.jdt.ui.examples.MyQuickAssistProcessor">
         <enablement>
           <with variable="projectNatures">
              <iterate operator="or">
                 <equals value="org.eclipse.jdt.core.javanature"/>
              </iterate>
           </with>
         </enablement>
      </quickAssistProcessor>
   </extension>

   <extension
      point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.jdt.ui.examples.MyClasspathContainerInitializer"
            id="org.eclipse.jdt.EXAMPLE_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="My Example Container (jdt.ui.tests)"
            class="org.eclipse.jdt.ui.examples.MyClasspathContainerPage"
            id="org.eclipse.jdt.EXAMPLE_CONTAINER">
      </classpathContainerPage>
   </extension>
   
   <extension
         point="org.eclipse.jdt.ui.javadocExportWizardPage">
      <javadocExportWizardPage
            description="My Javadoc Export Wizard Page (jdt.ui.tests)"
            class="org.eclipse.jdt.ui.examples.MyJavadocExportWizardPage"
            id="org.eclipse.jdt.EXAMPLE_JD_EXPORT_WP">
      </javadocExportWizardPage>
   </extension>
   
   <!-- **************** TEST NEW PROJECT WIZARD ******************* -->
   <extension 
	point="org.eclipse.ui.newWizards">
  	<wizard
		id="org.eclipse.jdt.ui.examples.MyProjectCreationWizard"
		name="In/Out Project (jdt.ui.tests)"
		class="org.eclipse.jdt.ui.examples.MyProjectCreationWizard"
		category="org.eclipse.jdt.ui.java"
		project="true"
		finalPerspective="org.eclipse.jdt.ui.JavaPerspective">
		<description>In/Out Project (jdt.ui.tests)</description>
    </wizard>	 
</extension>   

   <extension point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            targetId="org.eclipse.jdt.ui.PackageExplorer"
            name="Hide Java projects with other natures (jdt.ui.test)"
            enabled="false"
            description="Hide Java projects with other natures (jdt.ui.test)"
            class="org.eclipse.jdt.ui.examples.filters.PureProjectFilter"
            id="org.eclipse.jdt.internal.ui.PackageExplorer.PureProjectFilter">
      </filter>
      <filter
            targetId="org.eclipse.jdt.ui.PackageExplorer"
            name="Hide A.java (jdt.ui.test)"
            enabled="false"
            description="Hide A.java (jdt.ui.test)"
            class="org.eclipse.jdt.ui.examples.filters.AFileFilter"
            id="org.eclipse.jdt.internal.ui.PackageExplorer.AFileFilter">
      </filter>
    </extension> 
	<extension point="org.eclipse.ui.navigator.navigatorContent">      
       <commonFilter
		        activeByDefault="false"
		        class="org.eclipse.jdt.ui.examples.filters.AFileFilter"
		        name="Hide A.java (jdt.ui.test)"
		        description="Hide A.java (jdt.ui.test)"
		        id="org.eclipse.jdt.java.ui.filters.AFileFilter"/>
	</extension>
	
<!-- JavaLeakTest: -->
	<extension
	      point="org.eclipse.ui.actionSets">
	   <actionSet
	         id="org.eclipse.jdt.ui.tests.actionSet1"
	         label="JavaLeakTest"
	         visible="true">
	         <action
	               definitionId="org.eclipse.jdt.ui.tests.JavaLeakTestActionDelegate"
	               label="JavaLeakTestActionDelegate"
	               class="org.eclipse.jdt.ui.tests.leaks.JavaLeakTestActionDelegate"
	               menubarPath="navigate/open.ext2"
	               enablesFor="*"
	               id="org.eclipse.jdt.ui.tests.actions.JavaLeakTestActionDelegate">
	            <enablement>
	              <objectClass
	                    name="org.eclipse.jface.text.ITextSelection">
	              </objectClass>
	            </enablement>
	         </action>
	   </actionSet>
	</extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#TextEditorContext"
            id="org.eclipse.jdt.ui.tests.PopupActions">
         <visibility>
               <objectClass
                     name="org.eclipse.jface.text.ITextSelection">
               </objectClass>
         </visibility>
         <action
               class="org.eclipse.jdt.ui.tests.leaks.JavaLeakTestActionDelegate"
               definitionId="org.eclipse.jdt.ui.tests.JavaLeakTestActionDelegate"
               enablesFor="*"
               id="org.eclipse.jdt.ui.tests.actions.JavaLeakTestActionDelegate"
               label="JavaLeakTestActionDelegate"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
         
   <extension point="org.eclipse.ui.commands">
      <command
            name="JavaLeakTestActionDelegate"
            description="JavaLeakTestActionDelegate"
            id="org.eclipse.jdt.ui.tests.JavaLeakTestActionDelegate">
      </command>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <key
            sequence="M1+M2+M3+Q"
            commandId="org.eclipse.jdt.ui.tests.JavaLeakTestActionDelegate"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
<!-- End of JavaLeakTest -->
   
</plugin>
