<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jdt.astview"
   name="%pluginName"
   version="1.0.2"
   provider-name="%providerName"
   class="org.eclipse.jdt.astview.ASTViewPlugin">

   <runtime>
      <library name="ASTView.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide" optional="true"/>
      <import plugin="org.eclipse.ui.views" optional="true"/>
      <import plugin="org.eclipse.jface.text" optional="true"/>
      <import plugin="org.eclipse.ui.workbench.texteditor" optional="true"/>
      <import plugin="org.eclipse.ui.editors" optional="true"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.filebuffers"/>
      <import plugin="org.eclipse.jdt.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.views">
      <view
            name="ASTView"
            icon="icons/view.gif"
            category="org.eclipse.jdt.ui.java"
            class="org.eclipse.jdt.astview.views.ASTView"
            id="org.eclipse.jdt.astview.views.ASTView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="ASTView"
            description="AST View"
            category="org.eclipse.ui.category.views"
            id="org.eclipse.jdt.astview.views.ASTView">
      </command>
      
      <keyBinding
            string="Alt+Shift+Q A"
            scope="org.eclipse.ui.globalScope"
            command="org.eclipse.jdt.astview.views.ASTView"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Alt+Shift+Q A"
            scope="org.eclipse.ui.globalScope"
            command=""
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Command+Alt+Q A"
            scope="org.eclipse.ui.globalScope"
            command="org.eclipse.jdt.astview.views.ASTView"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>

</plugin>
